@charset "UTF-8";
.placeholder-box {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: #d4d0d9;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #bbb2c7;
  border: 1px solid rgba(86, 61, 124, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #c9f7fb; }

.placeholder-color {
  background: #c9f7fb; }

@media (min-width: 30em) {
  /*480*/ }
@media (min-width: 48em) {
  /*768 .col-sm-* */
  .placeholder-box {
    background: #f9dbb0; } }
@media (min-width: 62em) {
  /*992 .col-md-* */
  .placeholder-box {
    background: #e1fbc9; } }
@media (min-width: 65em) {
  /*1040*/ }
@media (min-width: 75em) {
  /*1200 .col-lg-* */
  .placeholder-box {
    background: #eaeaea; } }
.col-temp {
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  float: left;
  margin-left: 2.72856%; }

.col1-temp {
  width: 5.83215%; }

.amplitude-light-10 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-10 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-10 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-13 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-13 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-13 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-16 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-16 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-16 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-21 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-21 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-21 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-26 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-26 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-26 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-34 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 34px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-34 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 34px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-34 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 34px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-42 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 42px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-42 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 42px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-42 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 42px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-55 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 55px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-55 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 55px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-55 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 55px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-68 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 68px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-68 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 68px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-68 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 68px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-89 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 89px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-89 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 89px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-89 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 89px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: left; }

body {
  font-family: "Amplitude-Light", Helvetica, sans-serif;
  color: #310008;
  font-size: 16px;
  line-height: 1.5; }

.container-fluid.breakpoint-bar {
  padding: 10px 0 10px 0; }

.page-title {
  margin-top: 10vh;
  margin-bottom: 10vh; }

label {
  margin: 0; }

p.spec-size,
p.spec-height,
p.spec-tracking,
p.spec-font p.spec-detail {
  color: #b6ada5; }

.style-guide-h1 {
  font-size: 55px;
  line-height: 1;
  margin: 80px 0; }

.style-guide-h2 {
  font-size: 26px;
  line-height: 1.333;
  margin-bottom: 20px; }

.style-guide-h3 {
  color: #A73A64;
  font-family: "Amplitude-Medium";
  margin-bottom: 20px; }

.style-guide-link {
  color: #A73A64; }

.style-guide-body {
  font-size: 16px;
  margin-bottom: 20px; }

@media (min-width: 1200px) {
  .style-guide-body {
    font-size: 21px; } }
div.section-title {
  margin-bottom: 10vh; }

.bootstrap-size {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  line-height: 20px; }

.breakpoint-name {
  font-family: "Amplitude-Medium";
  font-size: 16px;
  line-height: 24px;
  margin-right: 20px; }

.breakpoint-detail {
  font-family: "Amplitude-Regular";
  font-size: 13px;
  margin-right: 10px; }

.symbol {
  font-family: helvetica, sans-serif;
  margin-right: 5px; }

.number {
  font-family: Helvetica, sans-serif;
  font-size: 16px; }

.col:first-child {
  margin-left: 0%; }

@font-face {
  font-family: "Amplitude-Medium";
  src: local("Amplitude-Medium");
  src: url("http://www.liquorvitae.it/temp/Amplitude-Medium.ttf");
  font-weight: medium; }
@font-face {
  font-family: "Amplitude-Regular";
  src: local("Amplitude-Regular");
  src: url("http://www.liquorvitae.it/temp/Amplitude-Regular.ttf");
  font-weight: regular; }
@font-face {
  font-family: "Amplitude-Light";
  src: local("Amplitude-Light");
  src: url("http://www.liquorvitae.it/temp/Amplitude-Light.ttf");
  font-weight: light; }
nav > ul > li {
  display: inline-block;
  position: relative;
  margin-right: 10px; }

nav > ul {
  -webkit-padding-start: 0px; }

nav {
  margin: 40px 0; }

nav > ul li ul {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s; }

nav > ul li ul li {
  background: #d7d2cb;
  display: block;
  width: 200%;
  color: #310008; }

nav > ul li ul li:hover {
  background: #8c8279;
  color: #FFFFFF; }

nav > ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

li.primary-inverted {
  padding: 10px; }

.breakpoint {
  color: red; }

.breakpoint-bar .device {
  line-height: 1; }

.color {
  background-clip: content-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px; }

.color:before {
  content: '';
  padding: 50% 0;
  /* vertical value as  100% equals width */
  display: inline-block;
  vertical-align: middle;
  /* or whatever */ }

.color.White {
  background-color: #FFFFFF;
  border: 1px solid #ebe8e5; }

.color.JPMBrown {
  background-color: #310008;
  color: #FFFFFF; }

.Purple {
  color: #FFFFFF;
  background-color: #A73A64; }

.DarkBlue {
  color: #FFFFFF;
  background-color: #00587c; }

.Blue {
  color: #FFFFFF;
  background-color: #00a3e0; }

.Teal {
  color: #FFFFFF;
  background-color: #2cd5c4; }

.Green {
  color: #FFFFFF;
  background-color: #43b02a; }

.Yellow {
  background-color: #fedd00; }

.Orange {
  color: #FFFFFF;
  background-color: #ff8200; }

.WarmGray1 {
  background-color: #d7d2cb; }

.WarmGray4 {
  background-color: #b6ada5; }

.WarmGray8 {
  background-color: #8c8279; }

.WarmGray0 {
  background-color: #ebe8e5; }

.RedError {
  background-color: #a71010;
  color: #FFFFFF; }

.rule {
  border-top: 1px solid #310008;
  margin: calc(1.36428% * 2) 0; }

@media (min-width: 768px) {
  .rule {
    margin: 0; } }
.breakpoint-bar,
.style-guide {
  font-size: 13px;
  line-height: 1.5; }

@media (min-width: 768px) {
  .breakpoint-bar,
  .style-guide {
    font-size: 16px; } }
.style-guide .rule {
  margin-bottom: 20px; }

.style-guide .row {
  margin-bottom: 40px; }

.container-fluid.griddy {
  border: solid 1px red; }

.promo-img-container {
  position: relative;
  margin: 0;
  overflow: hidden;
  max-height: 435px; }

.promo-img-container:before {
  content: "";
  display: block;
  padding-top: 56%;
  background-clip: content-box; }

.promo-img-container img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

.promo-1-column .author {
  margin-top: 5px; }

@media (min-width: 768px) {
  .promo-1-column .eyebrow {
    margin-bottom: 10px; } }
@media (min-width: 992px) {
  .promo-1-column .primary {
    margin-left: 20px;
    float: right; } }
@media (min-width: 768px) {
  .promo-1-column .cta {
    margin-top: 10px; } }
.promo-1-column .eyebrow,
.promo-1-column .h3 {
  margin-bottom: 10px; }

.promo-1-column .author,
.promo-1-column .body {
  margin-bottom: 20px; }

.promo-1-column .promo-img-container {
  margin-top: 20px; }

@media (max-width: 767px) {
  .promo-1-column .body {
    margin-bottom: 5px; }

  .promo-1-column .author {
    margin-bottom: 10px; }

  .promo-1-column .promo-img-container,
  .promo-1-column .eyebrow {
    margin-bottom: 15px; }

  .promo-1-column .promo-img-container {
    margin-top: 0px; } }
.promo-2-column .body {
  margin-bottom: 5px; }

.promo-2-column .h4,
.promo-2-column .author {
  margin-bottom: 10px; }

.promo-2-column .eyebrow,
.promo-2-column .promo-img-container {
  margin-bottom: 15px; }

@media (max-width: 767px) {
  .promo-2-column .promo-1 {
    margin-bottom: 60px; } }
.promo-3-column .body {
  margin-bottom: 5px; }

.promo-3-column .h4,
.promo-3-column .author {
  margin-bottom: 10px; }

.promo-3-column .eyebrow,
.promo-3-column .promo-img-container {
  margin-bottom: 15px; }

@media (max-width: 767px) {
  .promo-3-column .promo-1,
  .promo-3-column .promo-2 {
    margin-bottom: 60px; } }
.promo-4-column .body {
  margin-bottom: 5px; }

.promo-4-column .h4,
.promo-4-column .author {
  margin-bottom: 10px; }

.promo-4-column .eyebrow {
  margin-bottom: 15px; }

@media (max-width: 767px) {
  .promo-4-column .promo-1,
  .promo-4-column .promo-2,
  .promo-4-column .promo-3 {
    margin-bottom: 60px; } }
.row {
  margin: 0; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0 1.36428%; }

.container-fluid {
  padding: 0;
  max-width: 1600px;
  width: calc(90% + 1.36428% + 1.36428%); }

.grid-overlay {
  height: 100%;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  pointer-events: none;
  z-index: 100;
  margin: 0; }

.grid-overlay .row {
  height: 100%;
  width: 100%;
  margin: 0; }

.grid-overlay [class^="col-"] {
  background-color: rgba(255, 100, 100, 0.1);
  height: 100%;
  background-clip: content-box;
  padding-top: 0;
  padding-bottom: 0; }

.breakpoint-bar [class^="col-"] {
  padding-top: 0;
  padding-bottom: 0; }

.placeholder-box {
  padding: 3em 0.5em;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: #d4d0d9;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #bbb2c7;
  border: 1px solid rgba(86, 61, 124, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #c9f7fb;
  font-size: 13px;
  text-align: center; }

.breakpoint-bar {
  width: 100%;
  background: #c9f7fb;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 768px) {
  .breakpoint-bar {
    background: #f9dbb0; } }
@media (min-width: 992px) {
  .breakpoint-bar {
    background: #e1fbc9; } }
@media (min-width: 1200px) {
  .breakpoint-bar {
    background: #eaeaea; } }
#page-changer,
#toggle {
  height: 25px;
  float: right;
  clear: both; }

#page-changer,
#page-changer {
  width: 100%;
  margin: 10px 0; }

select {
  width: 100%; }

@media (min-width: 768px) {
  select {
    width: auto; } }
.module {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .module {
    margin-top: 80px; } }
@media (min-width: 1200px) {
  .module {
    margin-top: 100px; } }
.module .row {
  margin: 0; }

.center-block {
  float: none !important; }

img {
  width: 100%; }

.img-container {
  width: 100%;
  height: 56.25vw;
  max-height: 800px;
  max-height: 80vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

.promo-1-column .img-container,
.promo-2-column .img-container,
.promo-3-column .img-container {
  max-height: 435px; }

.img-container.breather {
  max-height: 450px; }

.article .img-container,
.img-container.article {
  max-height: 800px; }

@media (min-width: 1200px) {
  .img-container.breather {
    max-height: 550px; } }
.gray-background {
  background-color: #ebe8e5;
  width: 100%; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.img-book-container {
  width: calc(100% - 15px);
  box-shadow: 5px 5px 0px 0px #DFDCD9;
  height: auto;
  cursor: pointer;
  cursor: hand;
  position: relative;
  display: inline-block; }

.img-book-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%); }

@media (min-width: 768px) {
  .img-book-container {
    width: calc(100% - 10px);
    box-shadow: 10px 10px 0px 0px #DFDCD9; } }
.img-book {
  width: 100%;
  height: auto;
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 93%, rgba(0, 0, 0, 0.3) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 93%, rgba(0, 0, 0, 0.3) 100%);
  z-index: -1; }

.office-location-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  max-width: 1600px;
  width: calc(90% + 1.36428% + 1.36428%); }

.office-location {
  padding: 1.36428%;
  padding-bottom: 40px;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px; }

@media (min-width: 768px) {
  .office-address {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; } }
.component-wrapper {
  width: 100%;
  max-height: 435px;
  overflow: hidden; }

.component {
  width: 100%;
  padding-bottom: 56%;
  background-color: #d7d2cb;
  opacity: 0.4; }

.border-top .no-border {
  border-top: 0; }

.spacing {
  width: 50px;
  height: 50px;
  background-color: #A63A3A;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 768px) {
  .spacing {
    width: 60px;
    height: 60px;
    background-color: #310008; } }
@media (min-width: 1200px) {
  .spacing {
    width: 80px;
    height: 80px;
    background-color: #A63A3A; } }
.spacing p {
  font-family: "Amplitude-Light";
  font-size: 16px;
  color: white;
  display: table-cell;
  vertical-align: middle;
  margin: auto 0; }

.spacing p:before {
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-up.white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 10px;
  position: relative;
  margin: 0 auto;
  top: 2px; }

.spacing p:after {
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-down.white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 10px;
  position: relative;
  margin: 0 auto; }

@media (min-width: 1200px) {
  .spacing p:before {
    top: -2px;
    width: 16px; }

  .spacing p:after {
    top: 2px;
    width: 16px; }

  .spacing p {
    font-size: 21px; } }
.office-location {
  margin-bottom: 20px; }

.office-location .office-name {
  margin-bottom: 10px; }

.office-location .cta {
  margin-top: 10px; }

.office-location .office-phone {
  margin-top: 5px; }

@media (max-width: 767px) {
  .link li,
  .h5 {
    margin-bottom: 10px; } }
.global-footer-h1 {
  margin-bottom: 10px; }

.global-footer-h2 {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .global-footer-copyright:nth-child(2) {
    padding-top: 0; } }
.top-0 {
  margin-top: 0px !important;
  padding-top: 0px !important; }

.top-025 {
  margin-top: 5px !important; }

@media (min-width: 768px) {
  .top-025 {
    margin-top: 6.25px !important; } }
@media (min-width: 1200px) {
  .top-025 {
    margin-top: 8.09px !important; } }
.top-05 {
  margin-top: 10px !important; }

@media (min-width: 768px) {
  .top-05 {
    margin-top: 12.5px !important; } }
@media (min-width: 1200px) {
  .top-05 {
    margin-top: 16.18px !important; } }
.top-1 {
  margin-top: 20px !important; }

@media (min-width: 768px) {
  .top-1 {
    margin-top: 25px !important; } }
@media (min-width: 1200px) {
  .top-1 {
    margin-top: 32.36px !important; } }
.top-2 {
  margin-top: 25px !important; }

@media (min-width: 768px) {
  .top-2 {
    margin-top: 31.25px !important; } }
@media (min-width: 1200px) {
  .top-2 {
    margin-top: 40.45px !important; } }
.top-3 {
  margin-top: 32.36px !important; }

@media (min-width: 768px) {
  .top-3 {
    margin-top: 40.45px !important; } }
@media (min-width: 1200px) {
  .top-3 {
    margin-top: 52.35848px !important; } }
.top-4 {
  margin-top: 40.46px !important; }

@media (min-width: 768px) {
  .top-4 {
    margin-top: 50.575px !important; } }
@media (min-width: 1200px) {
  .top-4 {
    margin-top: 65.46428px !important; } }
.top-5 {
  margin-top: 52.36px !important; }

@media (min-width: 768px) {
  .top-5 {
    margin-top: 65.45px !important; } }
@media (min-width: 1200px) {
  .top-5 {
    margin-top: 84.71848px !important; } }
.top-6 {
  margin-top: 65.46px !important; }

@media (min-width: 768px) {
  .top-6 {
    margin-top: 81.825px !important; } }
@media (min-width: 1200px) {
  .top-6 {
    margin-top: 105.91428px !important; } }
.bottom-025 {
  margin-bottom: 5px !important; }

@media (min-width: 768px) {
  .bottom-025 {
    margin-bottom: 6.25px !important; } }
@media (min-width: 1200px) {
  .bottom-025 {
    margin-bottom: 8.09px !important; } }
.bottom-05 {
  margin-bottom: 10px !important; }

@media (min-width: 768px) {
  .bottom-05 {
    margin-bottom: 12.5px !important; } }
@media (min-width: 1200px) {
  .bottom-05 {
    margin-bottom: 16.18px !important; } }
.bottom-1 {
  margin-bottom: 20px !important; }

@media (min-width: 768px) {
  .bottom-1 {
    margin-bottom: 25px !important; } }
@media (min-width: 1200px) {
  .bottom-1 {
    margin-bottom: 32.36px !important; } }
.bottom-2 {
  margin-bottom: 25px !important; }

@media (min-width: 768px) {
  .bottom-2 {
    margin-bottom: 31.25px !important; } }
@media (min-width: 1200px) {
  .bottom-2 {
    margin-bottom: 40.45px !important; } }
.bottom-3 {
  margin-bottom: 32.36px !important; }

@media (min-width: 768px) {
  .bottom-3 {
    margin-bottom: 40.45px !important; } }
@media (min-width: 1200px) {
  .bottom-3 {
    margin-bottom: 52.35848px !important; } }
.bottom-4 {
  margin-bottom: 40.46px !important; }

@media (min-width: 768px) {
  .bottom-4 {
    margin-bottom: 50.575px !important; } }
@media (min-width: 1200px) {
  .bottom-4 {
    margin-bottom: 65.46428px !important; } }
.bottom-5 {
  margin-bottom: 52.36px !important; }

@media (min-width: 768px) {
  .bottom-5 {
    margin-bottom: 65.45px !important; } }
@media (min-width: 1200px) {
  .bottom-5 {
    margin-bottom: 84.71848px !important; } }
.bottom-6 {
  margin-bottom: 65.46px !important; }

@media (min-width: 768px) {
  .bottom-6 {
    margin-bottom: 81.825px !important; } }
@media (min-width: 1200px) {
  .bottom-6 {
    margin-bottom: 105.91428px !important; } }
.h2 + .author {
  margin-top: 20px; }

span.date {
  margin-left: 10px; }

p.author + p.date {
  margin-top: 10px; }

.sub-headline + .body {
  margin-top: 20px; }

.h3 + .body {
  margin-top: 20px; }

.body + .h3 {
  margin-top: 60px; }

.article .dash + .eyebrow, .article .body + .body, .article .eyebrow + .side-note, .article .side-note + .side-note {
  margin-top: 10px; }
.article .body,
.article .side-note + .primary {
  margin-top: 20px; }
.article .body + .primary {
  margin-top: 40px; }

.body + .secondary,
.body + .quote,
.body + .divider,
.divider + .quote,
.quote-author + .divider,
.divider + .body {
  margin-top: 40px; }

.quote + .quote-author {
  margin-top: 20px; }

.h1 + .dash,
.dash + .sub-headline {
  margin-top: 20px; }

@media (min-width: 768px) {
  .tab-h1 + .dash,
  .dash + .tab-body {
    margin-top: 10px; } }
@media (min-width: 1200px) {
  .tab-h1 + .dash,
  .dash + .tab-body {
    margin-top: 15px; } }
.content-page .h4 + .body {
  margin-top: 20px; }
.content-page .bullet .h4 + .body {
  margin-top: 0; }
.content-page .bullet li + li {
  margin-top: 20px; }
.content-page .h2 + .sub-headline {
  margin-top: 20px; }

.promo-1-column .dash + .eyebrow,
.promo-2-column .dash + .eyebrow,
.promo-3-column .dash + .eyebrow,
.promo-4-column .dash + .eyebrow {
  margin-top: 15px; }

.content-tray .h3 + .author, .content-tray .body + .cta {
  margin-top: 10px; }
.content-tray .author + .body {
  margin-top: 20px; }

.hero .h2 + .eyebrow, .hero .dash + .eyebrow, .hero .eyebrow + .sub-headline, .hero .sub-headline + .primary {
  margin-top: 20px; }
.hero .sub-headline + .secondary,
.hero .sub-headline + .toggle {
  margin-top: 20px; }
.hero .primary + .primary,
.hero .primary + .secondary,
.hero .secondary + .secondary,
.hero .secondary + .primary {
  margin-right: 10px; }
@media (min-width: 768px) {
  .hero .sub-headline + .secondary, .hero .sub-headline + .toggle {
    margin-top: 30px; } }

.link .dash + .h6 {
  margin-top: 10px; }
.link .h5 {
  margin-bottom: 10px; }

.style-guide .dash + .eyebrow {
  margin-top: 10px; }

.global-footer .link {
  margin-top: 5px; }

path.icon.twitter,
path.icon.email,
path.icon.facebook,
path.icon.linkedin {
  fill: #d7d2cb; }

button .icon.twitter:hover,
button .icon.email:hover,
button .icon.facebook:hover,
button .icon.linkedin:hover {
  fill: #310008;
  pointer-events: bounding-box; }

.hero,
.homepage-hero {
  position: relative; }

.hero-image {
  width: 100%;
  height: 56.25vw;
  min-height: 240px;
  max-height: 800px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -10; }

.hero-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%); }

@media (max-width: 767px) {
  .hero-image {
    margin-bottom: 20px; } }
.homepage-hero-image {
  width: 100%;
  height: calc(100vh - 90px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -10; }

.homepage-hero-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%); }

.hero-copy {
  z-index: 10;
  width: 100%; }

.hero-copy.absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto; }

.homepage-hero .hero-copy.absolute {
  top: calc(50% - 75px); }

@media (min-width: 768px) {
  .homepage-hero .hero-copy.absolute {
    top: calc(50% - 10vh); } }
.homepage-hero .intro-tooltip {
  position: absolute;
  z-index: 10;
  display: inline;
  margin: auto;
  left: 50%;
  bottom: 25%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10; }

.homepage-tabs {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline; }

@media (min-width: 768px) {
  .homepage-tabs {
    height: 20vh; } }
@media (max-width: 767px) {
  .homepage-tabs .container-fluid {
    width: 100%; } }
.homepage-tabs [class^="col-"] {
  border-bottom: 1px solid #d7d2cb;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.homepage-tabs [class^="col-"]:last-child {
  border-bottom: 0; }

@media (min-width: 768px) {
  .homepage-tabs [class^="col-"] {
    border-bottom: 0;
    height: 20vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33.33333333%;
    border-right: 1px solid #d7d2cb; } }
.homepage-tabs [class^="col-"]:hover {
  background-color: #d7d2cb;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out; }

.homepage-tabs [class^="col-"]:last-child {
  border-left: 0;
  border-right: 0; }

@media (min-width: 768px) {
  .homepage-tabs [class^="col-"]:last-child {
    border-right: 0px; } }
nav {
  position: relative;
  margin: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background: none;
  z-index: 1000;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
          transition: opacity 0.5s cubic-bezier(0.7, 0.01, 0.3, 1); }

@media (min-width: 768px) {
  nav {
    height: 56px; } }
nav.open {
  height: 100%;
  position: fixed; }

nav .bar {
  background-color: #310008;
  width: 100%;
  height: 44px;
  font-family: "Amplitude-Regular";
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0 14px;
  margin: 0 auto;
  z-index: 2000; }

@media (min-width: 768px) {
  nav .bar {
    height: 56px; } }
ul.navigation-left,
ul.navigation-right {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.navigation-left {
  float: left; }

.navigation-right {
  float: right; }

@media (max-width: 767px) {
  .nav-primary-breadkcrumb {
    display: none; } }
.navigation-menu:hover,
.navigation-breadcrums:hover,
.nav-primary-contact:hover {
  cursor: pointer;
  cursor: hand; }

li.navigation-menu,
li.nav-primary-breadkcrumb,
li.nav-primary-contact {
  list-style: none;
  display: inline-block; }

.logo-xyz {
  height: 22px;
  width: auto;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 3px; }

@media (min-width: 768px) {
  .logo-xyz {
    height: 24px;
    width: auto; } }
.navigation-menu {
  margin: 0;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out; }

.navigation-hamburger {
  width: 30px;
  height: 2px;
  margin-right: 10px;
  background-color: #FFFFFF;
  position: relative;
  vertical-align: middle;
  top: -1px;
  display: inline-block; }

.navigation-hamburger:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0px;
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease; }

.navigation-menu:hover .navigation-hamburger:before {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px); }

.navigation-hamburger:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease; }

.navigation-menu:hover .navigation-hamburger:after {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px); }

.nav-primary-breadcrumb {
  color: #b6ada5;
  padding-left: 32px; }

.nav-primary-breadcrumb:before {
  content: "|";
  position: relative;
  left: -15px; }

.nav-primary-contact {
  border: solid 1px #FFFFFF;
  padding: 3px 5px;
  font-size: 10px; }

@media (min-width: 768px) {
  .nav-primary-contact {
    border: solid 2px #FFFFFF;
    padding: 4px 10px;
    font-size: 13px; } }
.nav-primary-contact:hover {
  background-color: #FFFFFF;
  color: #310008; }

.navigation-hide,
li.navigation-hide {
  display: none; }

@media (min-width: 768px) {
  .navigation-hide,
  li.navigation-hide {
    display: inline-block; } }
#nav-primary-hamburger input[type=checkbox] {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  /* For mobile, it's typically better to position checkbox on top of clickable
    area and turn opacity to 0 instead. */ }

/* Default State */
.overlay {
  z-index: 1500;
  position: absolute;
  display: table;
  background: none;
  background-color: #310008;
  width: 100%;
  height: 100%;
  top: 44px;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
          transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
          transition: opacity 0.5s, visibility 0s 0.5s; }

@media (min-width: 768px) {
  .overlay {
    top: 56px; } }
.overlay.open {
  opacity: 1;
  visibility: visible; }

.overlay nav {
  -webkit-perspective: 1200px;
          perspective: 1200px; }

.overlay nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
          transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
          transition: transform 0.5s, opacity 0.5s; }

.overlay.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

.overlay.open .center {
  height: 100%; }

.overlay.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
          transform: translateY(25%) rotateX(-35deg); }

.overlay.close-button {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

.stick {
  position: fixed;
  width: 100%;
  top: 0; }

.nav-primary-hamburger {
  margin: 0; }

.overlay > ul {
  color: #FFFFFF;
  z-index: 3000;
  position: relative; }

.overlay li {
  list-style-type: none; }

.nav-secondary-h1 {
  margin-top: 40px; }

@media (min-width: 768px) {
  .nav-secondary-h1 {
    margin-top: 60px; } }
li:first-child .nav-secondary-h1 {
  margin-top: 0px; }

.nav-secondary-h1:before {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #b6ada5;
  position: relative;
  top: -10px;
  display: block; }

.nav-footer {
  margin-top: 40px; }

li:first-child .nav-footer {
  margin-top: 0px; }

.nav-footer:before {
  content: "";
  width: 22px;
  height: 1px;
  background-color: #b6ada5;
  position: relative;
  top: -10px;
  display: block; }

nav ul {
  padding: 0;
  margin: 0; }

@media (min-width: 768px) {
  .overlay.open .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; } }
nav input[type=search] {
  border: 1px solid #b6ada5;
  background-color: transparent;
  margin-top: 30px;
  width: 100%;
  max-width: 500px; }

input[type=search] :before {
  content: "";
  background-image: url(images/icon.search.svg);
  background-position: 7px 7px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px; }

@media (min-width: 768px) {
  nav input[type=search] {
    margin-top: 60px; } }
nav input[type=search]:focus {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  box-shadow: none;
  outline: none; }

body {
  font-size: 16px;
  color: #310008; }

@media (min-width: 1200px) {
  body {
    font-size: 21px; } }
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  letter-spacing: 0.02em;
  line-height: 1.5; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.h5,
.h6,
ul,
ol,
p {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Amplitude-Light";
  src: url(../fonts/Amplitude-Light.ttf); }
@font-face {
  font-family: "Amplitude-Regular";
  src: url(../fonts/Amplitude-Regular.ttf); }
@font-face {
  font-family: "Amplitude-Medium";
  src: url(../fonts/Amplitude-Medium.ttf); }
.light {
  font-family: "Amplitude-Light"; }

.regular {
  font-family: "Amplitude-Regular"; }

.medium {
  font-family: "Amplitude-Medium"; }

.h1 {
  font-family: "Amplitude-Light";
  font-size: 42px;
  line-height: 1.333;
  text-align: center; }

@media (min-width: 768px) {
  .h1 {
    font-size: 55px;
    line-height: 1; } }
@media (min-width: 1200px) {
  .h1 {
    font-size: 68px; } }
.h2 {
  font-family: "Amplitude-Light";
  font-size: 34px;
  text-align: center; }

@media (min-width: 768px) {
  .h2 {
    font-size: 42px;
    line-height: 1.333; } }
@media (min-width: 1200px) {
  .h2 {
    font-size: 55px;
    line-height: 1; } }
.sub-headline {
  font-family: "Amplitude-Light";
  font-size: 21px;
  text-align: center;
  max-width: 30em;
  margin: 0 auto; }

@media (min-width: 1200px) {
  .sub-headline {
    font-size: 26px;
    line-height: 1.333; } }
.h3 {
  font-family: "Amplitude-Light";
  font-size: 21px; }

@media (min-width: 768px) {
  .h3 {
    font-size: 26px;
    line-height: 1.333; } }
@media (min-width: 1200px) {
  .h3 {
    font-size: 34px; } }
.h4 {
  font-family: "Amplitude-Light";
  font-size: 21px; }

@media (min-width: 1200px) {
  .h4 {
    font-size: 26px;
    line-height: 1.333; } }
.intro-cta {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease; }

.intro-cta:hover {
  cursor: pointer;
  cursor: hand;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px); }

.intro-cta::after {
  margin-top: 5px;
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 70% 70%;
  width: 16px;
  height: 10px;
  position: relative;
  left: calc(50% - 8px); }

.inverted .intro-cta::after {
  margin-top: 5px;
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-down.white.svg");
  background-repeat: no-repeat;
  background-size: 70% 70%;
  width: 16px;
  height: 10px;
  position: relative;
  left: calc(50% - 8px); }

@media (min-width: 1200px) {
  .intro-cta {
    font-size: 16px; }

  .intro-cta::after {
    background-size: 20px 12px;
    width: 20px;
    height: 12px;
    left: calc(50% - 10px); } }
.tab-h1 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center; }

@media (min-width: 992px) {
  .tab-h1 {
    font-size: 21px; } }
.tab-body {
  font-family: "Amplitude-Regular";
  font-size: 13px;
  text-align: center; }

@media (min-width: 992px) {
  .tab-body {
    font-size: 16px; } }
.eyebrow {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  letter-spacing: 0.15em;
  text-align: left;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .eyebrow {
    font-size: 16px; } }
.blue {
  color: #00a3e0 !important; }

.orange {
  color: #ff8200 !important; }

.inverted {
  color: #FFFFFF !important; }

.dash.orange {
  background-color: #ff8200; }

.dash.blue {
  background-color: #00a3e0; }

.dash.inverted,
.inverted .dash {
  background-color: #FFFFFF; }

.eyebrow-hero {
  text-transform: uppercase;
  font-family: "Amplitude-Regular";
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.15em; }

@media (min-width: 768px) {
  .eyebrow-hero {
    font-size: 16px; } }
@media (min-width: 1200px) {
  .eyebrow-hero {
    font-size: 21px; } }
.author {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  text-align: left; }

.date {
  font-family: "Amplitude-Regular";
  font-size: 10px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase; }

.author + span.date {
  margin-left: 10px; }

.promo-1-column .body,
.promo-1-column.body {
  font-family: "Amplitude-Light";
  font-size: 16px;
  text-align: left; }

@media (min-width: 1200px) {
  .promo-1-column .body,
  .promo-1-column.body {
    font-size: 21px; } }
.promo-1-column h3:hover,
.promo-1-column h4:hover,
.promo-2-column h3:hover,
.promo-2-column h4:hover,
.promo-3-column h3:hover,
.promo-3-column h4:hover,
.promo-4-column h3:hover,
.promo-4-column h4:hover {
  cursor: pointer;
  cursor: hand; }

.body {
  font-family: "Amplitude-Light";
  font-size: 16px;
  margin: 0 auto;
  text-align: left; }

@media (min-width: 1200px) {
  .body {
    font-size: 21px; } }
button {
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 0;
  border: 0;
  background-color: transparent; }

button:focus {
  outline: 0; }

a:hover,
a:focus {
  text-decoration: none;
  color: #310008; }

.primary {
  font-family: "Amplitude-Medium";
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: #310008;
  border: 0;
  display: inline-block; }

.primary:hover {
  background-color: #1f0d08;
  -webkit-transition: all 0.05s;
          transition: all 0.05s;
  cursor: pointer;
  cursor: hand; }

.inverted.primary,
.inverted .primary {
  color: #310008;
  background-color: #FFFFFF;
  border: 1px solid #ebe8e5; }

.inverted.primary:hover,
.inverted .primary:hover {
  background-color: #d7d2cb;
  -webkit-transition: all 0.05s;
          transition: all 0.05s; }

.secondary {
  font-family: "Amplitude-Medium";
  color: #310008;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #310008 inset;
  display: inline-block;
  margin-right: 20px;
  padding: 15px 30px; }

.secondary:hover {
  -webkit-transition: all 50ms;
          transition: all 50ms;
  cursor: pointer;
  cursor: hand;
  box-shadow: 0px 0px 0px 4px #310008 inset; }

.inverted.secondary,
.inverted .secondary {
  color: #FFFFFF;
  box-shadow: 0px 0px 0px 2px #FFFFFF inset; }

.inverted.secondary:hover,
.inverted .secondary:hover {
  -webkit-transition: all 0.05s;
          transition: all 0.05s;
  box-shadow: 0px 0px 0px 4px #ebe8e5 inset;
  cursor: pointer;
  cursor: hand; }

.play {
  box-shadow: -55px 0px 0px 0px #310008, 0px 0px 0px 2px #310008 inset;
  padding-right: 20px; }

.play:after {
  content: "►";
  color: #FFFFFF;
  display: inline-block;
  font-size: 1em;
  vertical-align: middle;
  margin-left: 50px; }

.play:hover {
  -webkit-transition: all 0.05s;
          transition: all 0.05s;
  cursor: pointer;
  cursor: hand;
  box-shadow: -55px 0px 0px 0px #310008, 0px 0px 0px 4px #310008 inset; }

.inverted.play,
.inverted .play {
  color: #FFFFFF;
  box-shadow: -55px 0px 0px 0px #FFFFFF, 0px 0px 0px 2px #FFFFFF inset; }

.inverted.play:after,
.inverted .play:after {
  color: #310008; }

.inverted.play:hover,
.inverted .play:hover {
  -webkit-transition: all 0.05s;
          transition: all 0.05s;
  box-shadow: -55px 0px 0px 0px #ebe8e5, 0px 0px 0px 4px #ebe8e5 inset;
  cursor: pointer;
  cursor: hand; }

.cta,
a.cta {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  color: #310008;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative; }

.cta::after {
  margin-left: 5px;
  content: "►";
  display: inline-block;
  font-size: 0.5em;
  vertical-align: middle; }

.up.cta::after {
  margin-left: 5px;
  content: "►";
  display: inline-block;
  font-size: 0.5em;
  vertical-align: middle;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.down.cta::after {
  margin-left: 5px;
  content: "►";
  display: inline-block;
  font-size: 0.5em;
  vertical-align: middle;
  -webkit-transform: rotate(-90deg) translateX(3px);
      -ms-transform: rotate(-90deg) translateX(3px);
          transform: rotate(-90deg) translateX(3px); }

.cta:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand; }

.global-footer-h1 {
  font-family: "Amplitude-Regular";
  font-size: 13px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #310008;
  text-transform: uppercase;
  margin-top: 10px; }

.global-footer-h1:before {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #310008;
  position: relative;
  top: -10px;
  display: block; }

@media (min-width: 768px) {
  .global-footer-h1 {
    font-family: "Amplitude-Medium"; } }
@media (min-width: 1200px) {
  .global-footer-h1 {
    font-size: 16px; } }
.global-footer-h2 {
  font-family: "Amplitude-Regular";
  font-size: 13px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #b6ada5;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .global-footer-h2 {
    font-family: "Amplitude-Medium"; } }
@media (min-width: 1200px) {
  .global-footer-h2 {
    font-size: 16px; } }
p.global-footer-link {
  font-family: "Amplitude-Light";
  font-size: 13px;
  text-align: left; }

@media (min-width: 1200px) {
  p.global-footer-link {
    font-size: 16px; } }
p.global-footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand; }

.global-footer-legal {
  font-family: "Amplitude-Regular";
  font-size: 10px;
  text-align: center; }

@media (min-width: 1200px) {
  .global-footer-legal {
    font-family: "Amplitude-Light";
    font-size: 13px; } }
@media (max-width: 767px) {
  .global-footer-copyright {
    text-align: center; } }
.global-footer-copyright {
  font-size: 13px;
  font-family: "Amplitude-Light";
  font-color: #310008;
  padding: 15px 0; }

.global-footer-copyright a {
  color: #310008;
  text-decoration: none; }

.global-footer-copyright a:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand; }

.global-footer.signature {
  height: 300px;
  background-color: #310008;
  background-image: url("../images/jpmorgan-signature.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

@media (min-width: 768px) {
  .global-footer-signature {
    background-size: 300px; } }
.dash {
  background-color: #310008;
  width: 45px;
  height: 1px; }

.half.dash {
  width: 22px;
  height: 2px; }

.center {
  display: table;
  margin: 0 auto; }

.side-note {
  font-size: 13px; }

@media (min-width: 1200px) {
  .side-note {
    font-size: 16px; } }
a {
  color: #8c8279;
  text-decoration: underline; }

a:hover {
  color: #310008;
  text-decoration: underline; }

.global-footer a {
  text-decoration: none; }

.divider {
  border: solid #d7d2cb;
  border-width: 1px 0 0;
  clear: both;
  width: 100%;
  height: 1px; }

.h1-body {
  font-size: 21px;
  font-family: "Amplitude-Light";
  text-align: center; }

.nav-secondary-h1 {
  font-family: "Amplitude-Medium";
  text-transform: uppercase;
  font-size: 21px; }

@media (min-width: 768px) {
  .nav-secondary-h1 {
    line-height: 1.333;
    font-size: 42px; } }
nav .open li {
  color: #b6ada5; }

nav .open li:hover {
  color: #FFFFFF;
  cursor: pointer;
  cursor: hand; }

.nav-footer {
  font-family: "Amplitude-Regular";
  text-transform: uppercase;
  font-size: 16px; }

.nav-secondary-body {
  font-family: "Amplitude-Light";
  font-size: 13px; }

@media (min-width: 768px) {
  .nav-secondary-body {
    font-size: 16px; } }
nav input[type=search],
.nav-search {
  font-family: "Amplitude-Light";
  font-size: 16px;
  padding: 10px 15px; }

@media (min-width: 768px) {
  .nav-search,
  nav input[type=search] {
    font-size: 21px;
    padding: 10px 20px; } }
.note {
  padding: 10px;
  border: 1px solid #d7d2cb; }

@media (min-width: 1200px) {
  .body {
    font-family: "Amplitude-Light";
    font-size: 21px; } }
.strong {
  font-family: "Amplitude-Medium"; }

@media (min-width: 726px) {
  .strong {
    font-family: "Amplitude-Regular"; } }
@media (min-width: 768px) {
  .left {
    text-align: left; }

  .right {
    text-align: right; } }
ul.bullet {
  list-style-type: square;
  -webkit-margin-before: 0em;
  -webkit-padding-start: 20px; }

.text-left {
  text-align: left; }

.form-help {
  font-size: 13px;
  font-family: "Amplitude-Light";
  color: #b6ada5; }

.cta.text {
  font-size: 16.013px;
  font-family: "Amplitude-Light";
  color: #8c8279;
  text-decoration: underline;
  line-height: 2; }

.error {
  color: #a71010; }

input[type='text'] {
  height: 50px;
  width: 100%;
  padding: 10px; }

input.error {
  border: 1px solid #a71010; }

.office-name {
  font-size: 21px;
  text-transform: uppercase;
  font-family: "Amplitude-Regular"; }

.office-address,
.office-phone {
  font-size: 16px; }

.h6 {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.h5 {
  font-family: "Amplitude-Medium";
  font-size: 16px;
  text-align: left; }

.link a {
  font-family: "Amplitude-Light";
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  display: inline-block; }

.link a:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand; }

.your-team-h1 {
  font-family: "Amplitude-Regular";
  font-size: 21px;
  text-align: center; }

.your-team-body {
  font-family: "Amplitude-Light";
  font-size: 16px;
  text-align: center; }

.your-team-you {
  text-transform: uppercase;
  font-family: "Amplitude-Light";
  font-size: 34px;
  line-height: 1.333;
  color: #8c8279;
  text-align: center; }

.inverted p {
  color: #FFFFFF; }

.quote {
  font-family: "Amplitude-Light";
  color: #8c8279;
  font-size: 34px;
  text-align: center; }

.quote-author {
  font-family: "Amplitude-Regular";
  color: #310008;
  font-size: 16px;
  text-align: center; }

.cross-link.child-pages {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.cross-link.child-pages .img-container {
  width: 100%;
  height: 56.25vw; }

@media (min-width: 768px) {
  .cross-link.child-pages .img-container {
    width: 50%; } }
@media (min-width: 1200px) {
  .cross-link.child-pages .img-container {
    max-height: 550px; } }
.cross-link.child-pages .copy-container {
  width: 92.72856%;
  padding: 0 1.36428%;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .cross-link.child-pages .copy-container {
    width: 50%;
    padding-left: 9%;
    padding-right: 12.65%; } }
@media (min-width: 1200px) {
  .cross-link.child-pages .copy-container {
    width: 50%;
    padding-left: 6.74%;
    padding-right: 16.25%; } }
