@charset "UTF-8";
p {
  margin: 0; }

.light {
  font-family: "Amplitude-Light"; }

.regular {
  font-family: "Amplitude-Regular"; }

.medium {
  font-family: "Amplitude-Medium"; }

.intro-eyebrow {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center; }

@media (min-width: 768px) {
  .intro-eyebrow {
    font-size: 21px;
    line-height: 31px; } }
@media (min-width: 1200px) {
  .intro-eyebrow {
    font-size: 26px;
    line-height: 39px; } }
.intro-h1 {
  font-family: "Amplitude-Regular";
  font-weight: light;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: center; }

@media (min-width: 768px) {
  .intro-h1 {
    font-size: 55px;
    line-height: 66px; } }
@media (min-width: 1200px) {
  .intro-h1 {
    font-size: 66px;
    line-height: 79px; } }
.intro-body {
  font-family: "Amplitude-Regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center; }

@media (min-width: 768px) {
  .intro-body {
    font-size: 21px;
    line-height: 31px; } }
@media (min-width: 1200px) {
  .intro-body {
    font-size: 26px;
    line-height: 39px; } }
.intro-cta {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center; }

.intro-cta:hover {
  cursor: pointer;
  cursor: hand;
  -webkit-animation: intro-cta-hover 0.3s ease-in 0.1s reverse;
          animation: intro-cta-hover 0.3s ease-in 0.1s reverse; }

@-webkit-keyframes intro-cta-hover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes intro-cta-hover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }
.intro-cta::after {
  margin-top: 5px;
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 70% 70%;
  width: 16px;
  height: 10px;
  position: relative;
  left: calc(50% - 8px); }

@media (min-width: 1200px) {
  .intro-cta {
    font-size: 16px;
    line-height: 24px; }

  .intro-cta::after {
    background-size: 20px 12px;
    width: 20px;
    height: 12px;
    left: calc(50% - 10px); } }
.anchor-h1 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center; }

@media (min-width: 992px) {
  .anchor-h1 {
    font-size: 21px;
    line-height: 31px; } }
@media (min-width: 1200px) {
  .anchor-h1 {
    font-size: 26px;
    line-height: 34px; } }
.anchor-body {
  font-family: "Amplitude-Regular";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center; }

@media (min-width: 992px) {
  .anchor-body {
    font-size: 16px;
    line-height: 24px; } }
@media (min-width: 1200px) {
  .anchor-body {
    font-size: 21px;
    line-height: 31px; } }
.promo-eyebrow {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: left;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .promo-eyebrow {
    font-size: 16px;
    line-height: 24px; } }
.promo-h1 {
  font-family: "Amplitude-Medium";
  font-weight: light;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left; }

@media (min-width: 768px) {
  .promo-h1 {
    font-size: 26px;
    line-height: 39px; } }
@media (min-width: 992px) {
  .promo-h1 {
    font-size: 34px;
    line-height: 40px; } }
@media (min-width: 1200px) {
  .promo-h1 {
    font-size: 44px;
    line-height: 58px; } }
.promo-author {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left; }

.promo-date {
  font-family: "Amplitude-Regular";
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  margin-left: 10px; }

.promo-body-large {
  font-family: "Amplitude-Light";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left; }

@media (min-width: 992px) {
  .promo-body-large {
    font-size: 21px;
    line-height: 31px; } }
.promo-h2 {
  font-family: "Amplitude-Medium";
  color: #361a0e;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left; }

@media (min-width: 1200px) {
  .promo-h2 {
    font-size: 26px;
    line-height: 39px; } }
.promo-body {
  font-family: "Amplitude-Light";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left; }

@media (min-width: 992px) {
  .promo-body {
    font-size: 21px;
    line-height: 31px; } }
.legal-body {
  font-family: "Amplitude-Light";
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center; }

@media (min-width: 1200px) {
  .legal-body {
    font-size: 13px;
    line-height: 20px; } }
button {
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 0;
  border: 0;
  background-color: transparent; }

button:focus {
  outline: 0; }

a:hover, a:focus {
  text-decoration: none;
  color: #310008; }

.primary {
  font-family: "Amplitude-Medium";
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  padding: 6px 30px;
  background-color: #361a0e;
  border: 0; }

.primary:hover {
  background-color: #1f0d08;
  -webkit-transition: all 0.05s;
          transition: all 0.05s; }

.primary.inverted {
  color: #361a0e;
  background-color: #FFFFFF;
  border: 1px solid #d7d2cb; }

.primary.inverted:hover {
  background-color: #efefef;
  -webkit-transition: all 0.05s;
          transition: all 0.05s; }

.cta,
a.cta {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  color: #361a0e;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative; }

.cta::after {
  margin-left: 5px;
  content: "►";
  display: inline-block;
  font-size: 0.5em;
  vertical-align: middle; }

.cta:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand; }

.footer-h1 {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #361a0e;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .footer-h1 {
    font-size: 16px;
    line-height: 24px; } }
.footer-h2 {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #8c8279;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .footer-h2 {
    font-size: 16px;
    line-height: 24px; } }
p.footer-links {
  font-family: "Amplitude-Light";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 5px; }

@media (min-width: 1200px) {
  p.footer-links {
    font-size: 16px;
    line-height: 24px; } }
p.footer-links:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand; }

hr {
  margin: 0; }

hr.short {
  border: solid #361a0e;
  border-width: 1px 0 0;
  clear: both;
  width: 45px;
  height: 1px; }

hr.dash {
  border: solid #361a0e;
  border-width: 1px 0 0;
  width: 45px;
  height: 1px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0; }

hr.long {
  border: solid #d7d2cb;
  border-width: 1px 0 0;
  clear: both;
  width: 100%;
  height: 1px; }

.placeholder-box {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: #d4d0d9;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #bbb2c7;
  border: 1px solid rgba(86, 61, 124, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #c9f7fb; }

.placeholder-color {
  background: #c9f7fb; }

@media (min-width: 30em) {
  /*480*/ }
@media (min-width: 48em) {
  /*768 .col-sm-* */
  .placeholder-box {
    background: #f9dbb0; } }
@media (min-width: 62em) {
  /*992 .col-md-* */
  .placeholder-box {
    background: #e1fbc9; } }
@media (min-width: 65em) {
  /*1040*/ }
@media (min-width: 75em) {
  /*1200 .col-lg-* */
  .placeholder-box {
    background: #eaeaea; } }
.col-temp {
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  float: left;
  margin-left: 2.72856%; }

.col1-temp {
  width: 5.83215%; }

.amplitude-light-10 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-10 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-10 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-13 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-13 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-13 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-16 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-16 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-16 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-21 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-21 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-21 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-26 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-26 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-26 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-34 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-34 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-34 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-42 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-42 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-42 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-55 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 55px;
  line-height: 73px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-55 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 55px;
  line-height: 73px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-55 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 55px;
  line-height: 73px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-68 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 68px;
  line-height: 90px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-68 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 68px;
  line-height: 90px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-68 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 68px;
  line-height: 90px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-light-89 {
  font-family: "Amplitude-Light";
  font-weight: light;
  font-size: 89px;
  line-height: 119px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-regular-89 {
  font-family: "Amplitude-Regular";
  font-weight: regular;
  font-size: 89px;
  line-height: 119px;
  letter-spacing: 0.02em;
  text-align: left; }

.amplitude-medium-89 {
  font-family: "Amplitude-Medium";
  font-weight: medium;
  font-size: 89px;
  line-height: 119px;
  letter-spacing: 0.02em;
  text-align: left; }

body {
  font-family: "Amplitude-Light", Helvetica, sans-serif;
  color: #310008;
  margin-bottom: 120px; }

/*equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}*/
.breakpoint-bar {
  width: 100%;
  padding: 10px 0 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-title {
  margin-top: 10vh;
  margin-bottom: 10vh; }

.spec-style {
  font-family: "Amplitude-Medium"; }

p.spec-size,
p.spec-height,
p.spec-tracking,
p.spec-font
p.spec-detail {
  color: #8c8279; }

h1 {
  font-size: 55px;
  line-height: 82px; }

h2 {
  font-size: 26px;
  line-height: 39px; }

div.section-title {
  margin-bottom: 10vh; }

.bootstrap-size {
  font-family: "Amplitude-Medium";
  font-size: 13px;
  line-height: 20px; }

.device {
  font-family: "Amplitude-Medium";
  font-size: 21px;
  line-height: 31px;
  margin-right: 10px; }

.pixel-size {
  font-family: "Helvetica";
  font-weight: bold; }

.number {
  font-family: Helvetica, sans-serif;
  font-size: 16px; }

.show-grid [class^="col-"] {
  /*margin-left: 2%;*/
  border-top: 1px solid #efefef;
  padding-top: 10px; }

/*.col {
    margin-left: 2vw;
}*/
.col:first-child {
  margin-left: 0%; }

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 1600px;
  width: 90%;
  padding: 0px; }

@media (max-width: 991px) {
  .container-fluid {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; } }
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

@font-face {
  font-family: "Amplitude-Medium";
  src: local("Amplitude-Medium");
  src: url("http://www.liquorvitae.it/temp/Amplitude-Medium.ttf");
  font-weight: medium; }
@font-face {
  font-family: "Amplitude-Regular";
  src: local("Amplitude-Regular");
  src: url("http://www.liquorvitae.it/temp/Amplitude-Regular.ttf");
  font-weight: regular; }
@font-face {
  font-family: "Amplitude-Light";
  src: local("Amplitude-Light");
  src: url("http://www.liquorvitae.it/temp/Amplitude-Light.ttf");
  font-weight: light; }
nav > ul > li {
  display: inline-block;
  position: relative;
  margin-right: 10px; }

nav > ul {
  -webkit-padding-start: 0px; }

nav {
  margin: 40px 0; }

nav > ul li ul {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s; }

nav > ul li ul li {
  background: #d7d2cb;
  display: block;
  color: #310008; }

nav > ul li ul li:hover {
  background: #666; }

nav > ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.show-grid [class^="col-"] {
  padding: 20px 0 20px 0;
  border-top: 1px solid #310008; }

.show-grid > .col-md-6 {
  border-top: none; }
  @media (min-width: 992px) {
    .show-grid > .col-md-6 {
      border-top: 1px solid #310008; } }

.col-xs-6 > p, .col-xs-4 > p {
  margin-bottom: 5px;
  padding-right: 20px; }

.breakpoint {
  color: red; }

.row {
  margin: 0 0 5vh 0; }

.container-fluid.griddy {
  border: solid 1px red; }

.promo-image {
  position: relative;
  margin: 0;
  overflow: hidden;
  max-height: 435px; }

.promo-image:before {
  content: "";
  display: block;
  padding-top: 56%;
  /* set ratio of image to 16/9 */ }

.promo-image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

@media (min-width: 47.999em) {
  .no-padding > .promo > p {
    padding-left: 20px;
    padding-right: 20px; }

  .no-padding:last-child > .promo > p {
    padding-left: 20px;
    padding-right: 0px; }

  .no-padding:first-child > .promo > p {
    padding-left: 0px;
    padding-right: 20px; } }
.flex-container-1,
.flex-container-2,
.flex-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 40px 0; }

.flex-container-1 > .flex-1,
.flex-container-1 > .flex-3 {
  width: 100%; }

.flex-container-1 > .flex-2,
.flex-container-1 > .flex-4 {
  width: 50%; }

.flex-container-1 > .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.flex-container-1 > .flex-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.flex-container-1 > .flex-3 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.flex-container-1 > .flex-4 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

@media (max-width: 47.998em) {
  .flex-container-1 > .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .flex-container-1 > .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%; }

  .flex-container-1 > .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%; }

  .flex-container-1 > .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    width: 100%; } }
.flex-container-1.headline-bottom > .flex-1 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.flex-container-1.headline-bottom > .flex-2 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.flex-container-1.headline-bottom > .flex-3 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.flex-container-1.headline-bottom > .flex-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

@media (max-width: 47.998em) {
  .flex-container-1.headline-bottom > .flex-1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .flex-container-1.headline-bottom > .flex-2 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%; }

  .flex-container-1.headline-bottom > .flex-3 {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-ordinal-group: 1;
    width: 100%; }

  .flex-container-1.headline-bottom > .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 20px;
    width: 100%; } }
@media (max-width: 47.999em) {
  .flex-container-2 > .flex-1,
  .flex-container-2 > .flex-2,
  .flex-container-2 > .flex-3,
  .flex-container-2 > .flex-4,
  .flex-container-2 > .flex-5,
  .flex-container-2 > .flex-6 {
    width: 100%; } }
.flex-container-2 > .flex-1,
.flex-container-2 > .flex-2,
.flex-container-2 > .flex-3,
.flex-container-2 > .flex-4,
.flex-container-2 > .flex-5,
.flex-container-2 > .flex-6 {
  width: 50%; }

.flex-container-2 > .flex-2 {
  padding-right: 1px; }

.flex-container-2 > .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.flex-container-2 > .flex-2 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.flex-container-2 > .flex-3 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
  padding: 0 1.36428% 0 0; }

.flex-container-2 > .flex-4 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 0 0 0 1.36428%; }

.flex-container-2 > .flex-5 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.flex-container-2 > .flex-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
  padding: 0 0 0 1.36428%; }

@media (max-width: 47.998em) {
  .flex-container-2 > .flex-1,
  .flex-container-2 > .flex-2,
  .flex-container-2 > .flex-3,
  .flex-container-2 > .flex-4,
  .flex-container-2 > .flex-5,
  .flex-container-2 > .flex-6 {
    width: 100%;
    padding: 0; }

  .flex-container-2 > .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .flex-container-2 > .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .flex-container-2 > .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 0 40px 0; }

  .flex-container-2 > .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }

  .flex-container-2 > .flex-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }

  .flex-container-2 > .flex-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; } }
.flex-container-2.headline-bottom > .flex-1 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.flex-container-2.headline-bottom > .flex-2 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 1px; }

.flex-container-2.headline-bottom > .flex-3 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
  padding: 0 1.36428% 0 0; }

.flex-container-2.headline-bottom > .flex-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 0 0 0 1.36428%; }

.flex-container-2.headline-bottom > .flex-5 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.flex-container-2.headline-bottom > .flex-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
  padding: 0 0 0 1.36428%; }

@media (max-width: 47.998em) {
  .flex-container-2.headline-bottom > .flex-1,
  .flex-container-2.headline-bottom > .flex-2,
  .flex-container-2.headline-bottom > .flex-3,
  .flex-container-2.headline-bottom > .flex-4,
  .flex-container-2.headline-bottom > .flex-5,
  .flex-container-2.headline-bottom > .flex-6 {
    width: 100%;
    padding: 0; }

  .flex-container-2.headline-bottom > .flex-1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .flex-container-2.headline-bottom > .flex-2 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .flex-container-2.headline-bottom > .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 40px; }

  .flex-container-2.headline-bottom > .flex-4 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }

  .flex-container-2.headline-bottom > .flex-5 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }

  .flex-container-2.headline-bottom > .flex-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
    margin-bottom: 40px; } }
.flex-container-2.gutter .flex-1, .flex-container-2.gutter .flex-2, .flex-container-2.gutter .flex-3 {
  width: 48.63572%;
  margin: 0 2.72856% 0 0;
  padding: 0; }
.flex-container-2.gutter .flex-4,
.flex-container-2.gutter .flex-5,
.flex-container-2.gutter .flex-6 {
  width: 48.63572%;
  margin: 0;
  padding: 0; }

@media (max-width: 47.998em) {
  .flex-container-2.gutter .flex-1, .flex-container-2.gutter .flex-2, .flex-container-2.gutter .flex-3, .flex-container-2.gutter .flex-4, .flex-container-2.gutter .flex-5, .flex-container-2.gutter .flex-6 {
    width: 100%;
    margin: 0;
    padding: 0; }
  .flex-container-2.gutter .flex-3 {
    margin: 0 0 40px 0; } }
.flex-container-3 > .flex-1,
.flex-container-3 > .flex-2,
.flex-container-3 > .flex-3,
.flex-container-3 > .flex-4,
.flex-container-3 > .flex-5,
.flex-container-3 > .flex-6,
.flex-container-3 > .flex-7,
.flex-container-3 > .flex-8,
.flex-container-3 > .flex-9 {
  width: 33%; }

.flex-container-3 > .flex-2,
.flex-container-3 > .flex-5 {
  padding-right: 1px; }

.flex-container-3 > .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding-right: 1.36428%; }

.flex-container-3 > .flex-2 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.flex-container-3 > .flex-3 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7;
  padding-right: 1.36428%; }

.flex-container-3 > .flex-4 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 0 1.36428% 0 1.36428%; }

.flex-container-3 > .flex-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

.flex-container-3 > .flex-6 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
      -ms-flex-order: 8;
          order: 8;
  padding: 0 1.36428% 0 1.36428%; }

.flex-container-3 > .flex-7 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 0 0 0 1.36428%; }

.flex-container-3 > .flex-8 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

.flex-container-3 > .flex-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
      -ms-flex-order: 9;
          order: 9;
  padding: 0 0 0 1.36428%; }

@media (max-width: 47.998em) {
  .flex-container-3 > .flex-1,
  .flex-container-3 > .flex-2,
  .flex-container-3 > .flex-3,
  .flex-container-3 > .flex-4,
  .flex-container-3 > .flex-5,
  .flex-container-3 > .flex-6,
  .flex-container-3 > .flex-7,
  .flex-container-3 > .flex-8,
  .flex-container-3 > .flex-9 {
    width: 100%;
    padding: 0; }

  .flex-container-3 > .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .flex-container-3 > .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .flex-container-3 > .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 40px; }

  .flex-container-3 > .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }

  .flex-container-3 > .flex-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }

  .flex-container-3 > .flex-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
    margin-bottom: 40px; }

  .flex-container-3 > .flex-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }

  .flex-container-3 > .flex-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }

  .flex-container-3 > .flex-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
    margin-bottom: 40px; } }
.flex-container-3.gutter .flex-1, .flex-container-3.gutter .flex-2, .flex-container-3.gutter .flex-3 {
  width: 31.51429%;
  margin: 0 2.72856% 0 0;
  padding: 0; }
.flex-container-3.gutter .flex-4,
.flex-container-3.gutter .flex-5,
.flex-container-3.gutter .flex-6 {
  width: 31.51429%;
  margin: 0 2.72856% 0 0;
  padding: 0; }
.flex-container-3.gutter .flex-7,
.flex-container-3.gutter .flex-8,
.flex-container-3.gutter .flex-9 {
  width: 31.51429%;
  margin: 0;
  padding: 0; }

@media (max-width: 47.998em) {
  .flex-container-3.gutter .flex-1, .flex-container-3.gutter .flex-2, .flex-container-3.gutter .flex-3, .flex-container-3.gutter .flex-4, .flex-container-3.gutter .flex-5, .flex-container-3.gutter .flex-6, .flex-container-3.gutter .flex-7, .flex-container-3.gutter .flex-8, .flex-container-3.gutter .flex-9 {
    width: 100%;
    margin: 0;
    padding: 0; }
  .flex-container-3.gutter .flex-3,
  .flex-container-3.gutter .flex-6 {
    margin: 0 0 40px 0; } }
.flex-container-1.headline-bottom .flex-1, .flex-container-1.headline-bottom .flex-2 {
  width: 100%; }
.flex-container-1.headline-bottom .flex-3,
.flex-container-1.headline-bottom .flex-4 {
  width: 50%; }
.flex-container-1.headline-bottom .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0; }
.flex-container-1.headline-bottom .flex-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1.36428% 0 0; }
.flex-container-1.headline-bottom .flex-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  padding: 0 1.36428% 0 0; }
.flex-container-1.headline-bottom .flex-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  padding: 0 0 0 1.36428%; }
.flex-container-1.headline-bottom .promo-image {
  margin: 0 0 20px 0; }
.flex-container-1.headline-bottom .cta {
  margin: 10px 0 0 0; }

@media (max-width: 47.998em) {
  .flex-container-1.headline-bottom .flex-1, .flex-container-1.headline-bottom .flex-2, .flex-container-1.headline-bottom .flex-3, .flex-container-1.headline-bottom .flex-4 {
    width: 100%;
    padding: 0;
    margin: 0; }
  .flex-container-1.headline-bottom .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .flex-container-1.headline-bottom .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .flex-container-1.headline-bottom .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .flex-container-1.headline-bottom .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .flex-container-1.headline-bottom .flex-4 .promo-copy {
    margin: 10px 0 0 0; }
  .flex-container-1.headline-bottom .flex-3 .promo-h1 {
    margin: 0 0 10px 0; } }
.flex-container-2.headline-bottom .flex-1, .flex-container-2.headline-bottom .flex-2, .flex-container-2.headline-bottom .flex-3, .flex-container-2.headline-bottom .flex-4 {
  width: 50%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }
.flex-container-2.headline-bottom .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 1px 0 0; }
.flex-container-2.headline-bottom .flex-2 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  padding: 0 1.36428% 0 0; }
.flex-container-2.headline-bottom .flex-3 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1px 0 0; }
.flex-container-2.headline-bottom .flex-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  padding: 0 0 0 1.36428%; }
.flex-container-2.headline-bottom .flex-2 .promo-copy,
.flex-container-2.headline-bottom .flex-4 .promo-copy {
  margin: 10px 0 0 0; }
.flex-container-2.headline-bottom .flex-2 .promo-h2,
.flex-container-2.headline-bottom .flex-4 .promo-h2 {
  margin: 0 0 10px 0; }

@media (max-width: 47.998em) {
  .flex-container-2.headline-bottom .flex-1, .flex-container-2.headline-bottom .flex-2, .flex-container-2.headline-bottom .flex-3, .flex-container-2.headline-bottom .flex-4 {
    width: 100%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 0;
    margin: 0; }
  .flex-container-2.headline-bottom .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .flex-container-2.headline-bottom .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 40px 0; }
  .flex-container-2.headline-bottom .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .flex-container-2.headline-bottom .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; } }
.flex-container-2.headline-bottom.gutter .flex-1, .flex-container-2.headline-bottom.gutter .flex-2 {
  width: 48.63572%;
  margin-right: 2.72856%;
  padding: 0; }
.flex-container-2.headline-bottom.gutter .flex-3,
.flex-container-2.headline-bottom.gutter .flex-4 {
  width: 48.63572%;
  padding: 0;
  margin: 0; }
.flex-container-2.headline-bottom.gutter .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }
.flex-container-2.headline-bottom.gutter .flex-2 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
.flex-container-2.headline-bottom.gutter .flex-3 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
.flex-container-2.headline-bottom.gutter .flex-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }
.flex-container-2.headline-bottom.gutter .flex-2 .promo-copy,
.flex-container-2.headline-bottom.gutter .flex-4 .promo-copy {
  margin: 10px 0 0 0; }
.flex-container-2.headline-bottom.gutter .flex-2 .promo-h2,
.flex-container-2.headline-bottom.gutter .flex-4 .promo-h2 {
  margin: 0 0 10px 0; }

@media (max-width: 47.998em) {
  .flex-container-2.headline-bottom.gutter .flex-1, .flex-container-2.headline-bottom.gutter .flex-2, .flex-container-2.headline-bottom.gutter .flex-3, .flex-container-2.headline-bottom.gutter .flex-4 {
    width: 100%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 0;
    margin: 0; }
  .flex-container-2.headline-bottom.gutter .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .flex-container-2.headline-bottom.gutter .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 40px 0; }
  .flex-container-2.headline-bottom.gutter .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .flex-container-2.headline-bottom.gutter .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; } }
.flex-container-3.headline-bottom .flex-1, .flex-container-3.headline-bottom .flex-2, .flex-container-3.headline-bottom .flex-3, .flex-container-3.headline-bottom .flex-4, .flex-container-3.headline-bottom .flex-5, .flex-container-3.headline-bottom .flex-6 {
  width: 33%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }
.flex-container-3.headline-bottom .flex-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 1px 0 0; }
.flex-container-3.headline-bottom .flex-2 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  padding: 0 1.36428% 0 0; }
.flex-container-3.headline-bottom .flex-3 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1px 0 0; }
.flex-container-3.headline-bottom .flex-4 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
  padding: 0 1.36428% 0 1.36428%; }
.flex-container-3.headline-bottom .flex-5 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
.flex-container-3.headline-bottom .flex-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
  padding: 0 0 0 1.36428%; }
.flex-container-3.headline-bottom .flex-2 .promo-copy,
.flex-container-3.headline-bottom .flex-4 .promo-copy,
.flex-container-3.headline-bottom .flex-6 .promo-copy {
  margin: 10px 0 0 0; }
.flex-container-3.headline-bottom .flex-2 .promo-h2,
.flex-container-3.headline-bottom .flex-4 .promo-h2,
.flex-container-3.headline-bottom .flex-6 .promo-h2 {
  margin: 0 0 10px 0; }

@media (max-width: 47.998em) {
  .flex-container-3.headline-bottom .flex-1, .flex-container-3.headline-bottom .flex-2, .flex-container-3.headline-bottom .flex-3, .flex-container-3.headline-bottom .flex-4, .flex-container-3.headline-bottom .flex-5, .flex-container-3.headline-bottom .flex-6 {
    width: 100%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 0;
    margin: 0; }
  .flex-container-3.headline-bottom .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .flex-container-3.headline-bottom .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 40px 0; }
  .flex-container-3.headline-bottom .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .flex-container-3.headline-bottom .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    margin: 0 0 40px 0; }
  .flex-container-3.headline-bottom .flex-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .flex-container-3.headline-bottom .flex-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; } }
.flex-container-3.headline-bottom.gutter .flex-1, .flex-container-3.headline-bottom.gutter .flex-2 {
  width: 31.51429%;
  margin: 0 2.72856% 0 0;
  padding: 0; }
.flex-container-3.headline-bottom.gutter .flex-3,
.flex-container-3.headline-bottom.gutter .flex-4 {
  width: 31.51429%;
  margin: 0 2.72856% 0 0;
  padding: 0; }
.flex-container-3.headline-bottom.gutter .flex-5,
.flex-container-3.headline-bottom.gutter .flex-6 {
  width: 31.51429%;
  margin: 0;
  padding: 0; }

@media (max-width: 47.998em) {
  .flex-container-3.headline-bottom.gutter .flex-1, .flex-container-3.headline-bottom.gutter .flex-2, .flex-container-3.headline-bottom.gutter .flex-3, .flex-container-3.headline-bottom.gutter .flex-4, .flex-container-3.headline-bottom.gutter .flex-5, .flex-container-3.headline-bottom.gutter .flex-6 {
    width: 100%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 0;
    margin: 0; }
  .flex-container-3.headline-bottom.gutter .flex-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .flex-container-3.headline-bottom.gutter .flex-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 40px 0; }
  .flex-container-3.headline-bottom.gutter .flex-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .flex-container-3.headline-bottom.gutter .flex-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    margin: 0 0 40px 0; }
  .flex-container-3.headline-bottom.gutter .flex-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .flex-container-3.headline-bottom.gutter .flex-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; } }
.headline-bottom div[class^="flex-"] hr.dash {
  display: none; }

.copy-container .cta {
  margin-top: 10px; }

.flex-container-1 .promo-image {
  margin: 20px 0 0 0; }

@media (max-width: 47.998em) {
  .flex-container-1 .promo-image {
    margin: 20px 0 20px 0; } }
.flex-container-2 .promo-image {
  margin: 20px 0 20px 0; }

.flex-container-3 .promo-image {
  margin: 20px 0 20px 0; }

.flex-container-2.headline-bottom .promo-image {
  margin: 0 0 20px 0; }

.flex-container-3.headline-bottom .promo-image {
  margin: 0 0 20px 0; }

.promo-image > img {
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }

.promo-image > img:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
  cursor: hand; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0px; }

input[type=checkbox] {
 /*position: absolute;
top: -9999px;
left: -9999px;*/
  /* For mobile, it's typically better to position checkbox on top of clickable
    area and turn opacity to 0 instead. */ }

/* Default State */
/* Toggled State */
.grid-behind-col {
  background-color: rgba(255, 100, 100, 0.1);
  width: 5.83215%;
  margin-right: 2.72856%;
  height: 100vh; }

.grid-behind-margin {
  background-color: rgba(208, 226, 246, 0.5);
  width: 5%;
  height: 100vh; }

.grid-behind-col:nth-of-type(13n) {
  width: 5.83215%;
  margin-right: 0; }

.grid-behind {
  visibility: hidden;
  max-width: calc(1600px * 1.1);
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: fixed;
  pointer-events: none; }

.grid-behind::before {
  background-color: rgba(208, 226, 246, 0.5);
  width: 5%;
  height: 100vh; }

.grid-behind::after {
  background-color: rgba(208, 226, 246, 0.5);
  width: 5%;
  height: 100vh; }

input[type=checkbox]:checked ~ .grid-behind {
  visibility: visible; }

#grid-toggle {
  margin-left: 5px; }

.grid-toggle-container {
  float: right; }

.component-wrapper {
  width: 100%;
  max-height: 435px;
  overflow: hidden; }

.component {
  width: 100%;
  padding-bottom: 56%;
  background-color: #d7d2cb;
  opacity: 0.4; }

.show-grid .no-border {
  border-top: 0; }

.spacing {
  width: 60px;
  height: 60px;
  background-color: #A63A3A;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 768px) {
  .spacing {
    width: 80px;
    height: 80px;
    background-color: #310008; } }
@media (min-width: 1200px) {
  .spacing {
    width: 100px;
    height: 100px;
    background-color: #A63A3A; } }
.spacing p {
  font-family: "Amplitude-Light";
  font-size: 16px;
  color: white;
  display: table-cell;
  vertical-align: middle;
  margin: auto 0; }

.spacing p:before {
  margin-bottom: 2px;
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-up.white.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  width: 16px;
  height: 10px;
  position: relative;
  left: calc(50% - 5px); }

.spacing p:after {
  margin-top: 2px;
  content: "";
  display: block;
  background-image: url("../images/ui.arrow-down.white.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  width: 16px;
  height: 10px;
  position: relative;
  left: calc(50% - 5px); }

@media (min-width: 768px) {
  .spacing p:before {
    margin-bottom: 5px;
    background-size: 100%; }

  .spacing p:after {
    margin-top: 5px;
    background-size: 100%; } }
@media (min-width: 1200px) {
  .spacing p {
    font-size: 21px; } }
path.icon.twitter,
path.icon.email,
path.icon.facebook,
path.icon.linkedin {
  fill: #d7d2cb; }

button .icon.twitter:hover,
button .icon.email:hover,
button .icon.facebook:hover,
button .icon.linkedin:hover {
  fill: #310008;
  pointer-events: bounding-box; }
