.hide {
	display: none;
}


.tab p {
    // color: $JPMBrown;
}

.tab {
    height: 150px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, 0.9);
    display: inline;
}

@media (min-width: 768px) {
    .tab {
        position: absolute;
        transform: translateY(calc(85vh - 116px));
        height: calc(15vh + 1px);
        padding: 0 5% 0 5%;
        top: 0%;
    }
}

@media (min-width: 992px) {
    .tab {
        height: calc(20vh + 1px);
        transform: translateY(calc(80vh - 116px));
    }
}

.tab .container-fluid {
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .tab .container-fluid {
        margin: 0 auto;
        width: 90%;
    }
}

.tab [class^="col-"] {
    border-bottom: 1px solid $WarmGray1;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .tab [class^="col-"] {
        height: 15vh;
        border-bottom: 0;
        border-left: 1px solid $WarmGray1;
        align-items: center;
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .tab [class^="col-"] {
        height: 20vh;
    }
}

.tab [class^="col-"]:hover {
    background-color: $WarmGray1;
    cursor: pointer;
    cursor: hand;
    transition: all 0.1s ease-out;
}

.tab [class^="col-"]:last-child {
    border-left: 0;
    border-right: 0;
}

@media (min-width: 768px) {
    .tab [class^="col-"]:last-child {
        border-left: 1px solid $WarmGray1;
        border-right: 1px solid $WarmGray1;
    }
}

.tab hr,
.tab .anchor-body {
    display: none;
}

@media (min-width: 768px) {
    .tab hr,
    .tab .anchor-body {
        display: flex;
    }
}