.row {
    margin: 0;
}

.margin-bottom {
    margin-bottom: 5vh;
}

.margin-top {
    margin-top: 5vh;
}

.margin {
    margin: 5vh 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding: 1.36428%;
}

.container-fluid {
    padding: 0;
    margin-left: calc(5% - 1.36428%);
    margin-right: calc(5% - 1.36428%);
    max-width: 1600px;
    width: calc(90% + 1.36428% + 1.36428%);
}

.grid-overlay {
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    z-index: 100;
    margin: 0;
}

.grid-overlay .row {
    height: 100%;
    width: 100%;
}

.grid-overlay [class^="col-"] {
    background-color: rgba(360, 100, 100, 0.1);
    height: 100%;
    background-clip: content-box;
    padding-top: 0;
    padding-bottom: 0;
}

.breakpoint-bar [class^="col-"] {
    padding-top: 0;
    padding-bottom: 0;
}

.placeholder-box {
    padding: 3em 0.5em;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: #d4d0d9;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #bbb2c7;
    border: 1px solid rgba(86, 61, 124, .2);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #c9f7fb;
    font-size: 13px;
    text-align: center;
    
}

.breakpoint-bar {
    width: 100%;
    background: #c9f7fb;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .breakpoint-bar {
        background: #f9dbb0;
    }
}

@media (min-width: 992px) {
    .breakpoint-bar {
        background: #e1fbc9;
    }
}

@media (min-width: 1200px) {
    .breakpoint-bar {
        background: #eaeaea;
    }
}

#page-changer,
#toggle {
    height: 25px;
    float: right;
    clear: both;
}

#page-changer,
#page-changer {
    width: 100%;
    margin: 10px 0;
}

select {
    width: 100%;
}

@media (min-width: 768px) {
    select {
        width: auto;
    }
}
