input[type=checkbox] {
    /*position: absolute;
   top: -9999px;
   left: -9999px;*/
    /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}
/* Default State */
/* Toggled State */

.grid-behind-col {
    background-color: rgba(360, 100, 100, 0.1);
    width: 5.83215%;
    margin-right: 2.72856%;
    height: 100vh;
}

.grid-behind-margin {
    background-color: hsla(212, 67%, 89%, 0.5);
    width: 5%;
    height: 100vh;
}

.grid-behind-col:nth-of-type(13n) {
    width: 5.83215%;
    margin-right: 0;
}

.grid-behind {
    visibility: hidden;
    max-width: calc(1600px * 1.1);
    width: 100%;
    position: fixed;
    
    display: flex;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    position: fixed;
    pointer-events: none;
    z-index: 100;
}

.grid-behind::before {
    background-color: hsla(212, 67%, 89%, 0.5);
    width: 5%;
    height: 100vh;
}

.grid-behind::after {
    background-color: hsla(212, 67%, 89%, 0.5);
    width: 5%;
    height: 100vh;
}

input[type=checkbox]:checked ~ .grid-behind {
    visibility: visible;
}

#grid-toggle {
    margin-left: 5px;
}

.grid-toggle-container {
    float: right;
}
