.placeholder-box {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: #d4d0d9;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #bbb2c7;
    border: 1px solid rgba(86, 61, 124, .2);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #c9f7fb;
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.placeholder-color {
    background: #c9f7fb;
}

@media (min-width: 30em) {
    /*480*/
}

@media (min-width: 48em) {
    /*768 .col-sm-* */
    
    .placeholder-box {
        background: #f9dbb0;
    }
}

@media (min-width: 62em) {
    /*992 .col-md-* */
    
    .placeholder-box {
        background: #e1fbc9;
    }
}

@media (min-width: 65em) {
    /*1040*/
}

@media (min-width: 75em) {
    /*1200 .col-lg-* */
    
    .placeholder-box {
        background: #eaeaea;
    }
}


.col-temp {
    min-height: 1px;
    padding-right: 0;
  padding-left: 0;
    position: relative;
  float:left;
  margin-left:2.72856%;
}

.col1-temp {
    width: 5.83215%;
}