.header {
    position: relative;
    margin: 0;
    overflow: hidden;
    max-height: calc(80vh - 83px); // set max height of image container
    background-color: $WarmGray1;
    width: 100%;
}

.header:before {
    content: "";
    display: block;
    padding-top: 76%; // set ratio of image to 4/3
}

@media (min-width: 768px) {
    .header:before {
        padding-top: 56%; // set ratio of image to 16/9
    }
}

.header img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; // this center align the picture in the 16/9 container
    z-index: 1;
}

@media (min-width: 768px) {
    .header img {
        width: 100%;
        height: auto;
    }
}

.header > .container-fluid,
.tab > .container-fluid {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 10;
}

.tab .row {
    margin: 0;
}

.header p {
    color: $White;
}

.tab {
    height: 20vh;
    position: relative;
    width: 100%;
    border-bottom: 1px solid $WarmGray1-transparent;
}

.tab [class^="col-"] {
    border-left: 1px solid $WarmGray1-transparent;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.tab [class^="col-"]:hover {
    background-color: $WarmGray1;
    cursor: pointer;
    cursor: hand;
    transition: all 0.1s ease-out;
}

.tab [class^="col-"]:last-child {
    border-left: 1px solid $WarmGray1-transparent;
    border-right: 1px solid $WarmGray1-transparent;
}

.header hr.dash-inverted,
.tab hr.dash {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tint {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $JPMBrown;
    z-index: 2;
    //filter: saturate(200%);
    opacity: 0.5;
    mix-blend-mode: darken;
}

