.header-container {
    width: 100%;
    height: calc(100vh - 83px);
    position: relative;
}

.article {
    width: 100%;
    height: calc(80vh - 83px);
    position: relative;
}

.header-copy {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 10;
    width: 90%;
}

.article .header-copy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-copy.box {
    background-color: hsla(0, 0, 100, 0.9);
    padding: 5%;
    width: auto;
}

.header-copy.bottom {
    bottom: calc(15% + 150px);
    top: auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .header-copy.bottom {
        bottom: 35%;
    }
}

@media (min-width: 992px) {
    .header-copy.bottom {
        bottom: 40%;
    }
}

.header-cta {
    position: absolute;
    bottom: calc(5% + 150px);
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}

@media (min-width: 768px) {
    .header-cta {
        bottom: 20%;
    }
}

@media (min-width: 992px) {
    .header-cta {
        bottom: 25%;
    }
}

.header-image {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url(../images/header_landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header-image.city {
    background-size: cover;
    background: url(../images/header_new-york.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header-image.article {
    background-size: cover;
    background: url(../images/header_article.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.tint {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    z-index: 2;
    opacity: 0.5;
    mix-blend-mode: darken;
}

.gradient {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 30%, rgba(0, 0, 0, 1) 80%);
    z-index: 2;
    opacity: 0.5;
    mix-blend-mode: darken;
}

.header.full {
    max-height: calc(100vh - 83px); // set max height of image container
}

.header:before {
    content: "";
    display: block;
    padding-top: 76%; // set ratio of image to 4/3
}

@media (min-width: 768px) {
    .header:before {
        padding-top: 56%; // set ratio of image to 16/9
    }
}

.header img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; // this center align the picture in the 16/9 container
    z-index: 1;
}

@media (min-width: 768px) {
    .header img {
        width: 100%;
        height: auto;
    }
}

.header p {
    color: $White;
}

.tab p {
    color: $JPMBrown;
}

.tab {
    height: 150px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, 0.9);
}

@media (min-width: 768px) {
    .tab {
        position: absolute;
        transform: translateY(calc(85vh - 83px));
        height: calc(15vh + 1px);
        padding: 0 5% 0 5%;
        top: 0%;
    }
}

@media (min-width: 992px) {
    .tab {
        height: calc(20vh + 1px);
        transform: translateY(calc(80vh - 83px));
    }
}

.tab .container-fluid {
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .tab .container-fluid {
        margin: 0 auto;
        width: 90%;
    }
}

.tab [class^="col-"] {
    border-bottom: 1px solid $WarmGray1;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .tab [class^="col-"] {
        height: 15vh;
        border-bottom: 0;
        border-left: 1px solid $WarmGray1;
        align-items: center;
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .tab [class^="col-"] {
        height: 20vh;
    }
}

.tab [class^="col-"]:hover {
    background-color: $WarmGray1;
    cursor: pointer;
    cursor: hand;
    transition: all 0.1s ease-out;
}

.tab [class^="col-"]:last-child {
    border-left: 0;
    border-right: 0;
}

@media (min-width: 768px) {
    .tab [class^="col-"]:last-child {
        border-left: 1px solid $WarmGray1;
        border-right: 1px solid $WarmGray1;
    }
}

.tab hr,
.tab .anchor-body {
    display: none;
}

@media (min-width: 768px) {
    .tab hr,
    .tab .anchor-body {
        display: flex;
    }
}

.header-copy hr.dash {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab hr.dash {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .tab hr.dash {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

hr.dash.inverted,
.inverted .dash {
    border-top: 1px solid $White;
}

.inverted {
    color: $White;
}
