.homepage-hero .img-container {
    height: calc(100vh - 90px);
    background-image: url(../images/header_cityscape.jpg);
}

.homepage-hero .img-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%); // 40% black tint over image
}

.img-container.hero {
    max-height: 800px;
}

.homepage-hero .copy-container,
.hero-promo .copy-container {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.homepage-hero .copy-container .dash,
.hero .dash {
    margin-top: 20px;
    margin-bottom: 20px;
}

.homepage-hero .intro-tooltip {
    position: absolute;
    bottom: 25%;
    z-index: 10;
    display: inline;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 75%);
    z-index: 10;
}

.background-tint {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    z-index: 2;
    opacity: 0;
    mix-blend-mode: darken;
}

// HOMEPAGE TABS
.homepage-tabs {
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, 0.9);
    display: inline;
}

@media (min-width: 768px) {
    .homepage-tabs {
        position: absolute;
        transform: translateY(80vh);
        top: 0%;
    }
}

@media (min-width: 992px) {
    .homepage-tabs {
        height: 20vh;
        transform: translateY(80vh);
    }
}

@media (min-width: 768px) {
    .homepage-tabs .dash {
        margin: 10px 0;
    }
}

@media (min-width: 1200px) {
    .homepage-tabs .dash {
        margin: 15px 0;
    }
}

@media (max-width: 767px) {
    .homepage-tabs .container-fluid {
        width: 100%;
    }
}

.homepage-tabs [class^="col-"] {
    border-bottom: 1px solid $WarmGray1;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    align-items: flex-start;
}

.homepage-tabs [class^="col-"]:last-child {
    border-bottom: 0;
}

@media (min-width: 768px) {
    .homepage-tabs [class^="col-"] {
        border-bottom: 0;
        height: 20vh;
        align-items: center;
        width: 33.33333333%;
        border-right: 1px solid $WarmGray1;
    }
}

.homepage-tabs [class^="col-"]:hover {
    background-color: $WarmGray1;
    cursor: pointer;
    cursor: hand;
    transition: all 0.1s ease-out;
}

.homepage-tabs [class^="col-"]:last-child {
    border-left: 0;
    border-right: 0;
}

@media (min-width: 768px) {
    .homepage-tabs [class^="col-"]:last-child {
        border-right: 0px;
    }
}


.hero-promo-img-container {
    background-image: url(../images/header_person.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 75vw; // 4/3 proportion
    min-height: 240px;
    max-height: 800px;
    position: relative;
    z-index: -10;
}

@media (min-width: 768px) {
    .hero-promo-img-container {
        height: 56.25vw; // 16/9 proportion
    }
}
