.navigation {
    height: 44px;
    background-color: $JPMBrown;
    width: 100%;
    font-family: $regular;
    color: $White;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0 14px;
    margin: 0 auto;
    position: sticky;
}

@media (min-width: 768px) {
    .navigation {
        padding: 0 20px;
        height: 56px;
    }
}

ul.navigation-left,
ul.navigation-right {
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navigation-left {
    float: left;
}

.navigation-right {
    float: right;
}

@media (max-width: 767px) {
    .navigation-breadcrumbs {
        display: none;
    }
}

.navigation-menu:hover,
.navigation-breadcrums:hover,
.navigation-contact:hover {
    cursor: pointer;
    cursor: hand;
}

li.navigation-menu,
li.navigation-breadcrumbs,
li.navigation-contact {
    list-style: none;
    display: inline-block;
}

.logo-xyz {
    height: 24px;
    width: auto;
    padding-top: 5px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .logo-xyz {
        height: 26px;
        width: auto;
    }
}

.navigation-menu {
    margin: 0;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.navigation-hamburger {
    width: 30px;
    height: 2px;
    margin-right: 10px;
    background-color: $White;
    position: relative;
    vertical-align: middle;
    top: -1px;
    display: inline-block;
}

.navigation-hamburger:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0px;
    width: 30px;
    height: 2px;
    background-color: $White;
    transition: transform 0.2s ease;
}

.navigation-menu:hover .navigation-hamburger:before {
    transform: translateY(-4px);
}

.navigation-hamburger:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 30px;
    height: 2px;
    background-color: $White;
    transition: transform 0.2s ease;
}

.navigation-menu:hover .navigation-hamburger:after {
    transform: translateY(4px);
}

.navigation-breadcrumbs {
    color: $WarmGray4;
    padding-left: 32px;
}

.navigation-breadcrumbs:before {
    content: "|";
    position: relative;
    left: -15px;
}

.navigation-contact {
    border: solid 1px $White;
    padding: 3px 5px;
    font-size: 10px;
}

@media (min-width: 768px) {
    .navigation-contact {
        border: solid 2px $White;
        padding: 4px 10px;
        font-size: 13px;
    }
}

.navigation-contact:hover {
    background-color: $White;
    color: $JPMBrown;
}

.navigation-hide,
li.navigation-hide {
    display: none;
}

@media (min-width: 768px) {
    .navigation-hide,
    li.navigation-hide {
        display: inline-block;
    }
}