nav {
    position: relative;
    margin: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background: none;
    z-index: 1000;
    overflow: hidden;
    backface-visibility: hidden;
    transition: opacity 0.5s cubic-bezier(0.7, 0.01, 0.3, 1);
}

@media (min-width: 768px) {
    nav {
        height: 56px;
    }
}

nav.open {
    height: 100%;
    position: fixed;
}

nav .bar {
    background-color: $JPMBrown;
    width: 100%;
    height: 44px;
    font-family: $regular;
    color: $White;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0 14px;
    margin: 0 auto;
    z-index: 2000;
}

@media (min-width: 768px) {
    nav .bar {
        height: 56px;
    }
}

ul.navigation-left,
ul.navigation-right {
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navigation-left {
    float: left;
}

.navigation-right {
    float: right;
}

@media (max-width: 767px) {
    .navigation-breadcrumbs {
        display: none;
    }
}

.navigation-menu:hover,
.navigation-breadcrums:hover,
.navigation-contact:hover {
    cursor: pointer;
    cursor: hand;
}

li.navigation-menu,
li.navigation-breadcrumbs,
li.navigation-contact {
    list-style: none;
    display: inline-block;
}

.logo-xyz {
    height: 22px;
    width: auto;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3px;
}

@media (min-width: 768px) {
    .logo-xyz {
        height: 24px;
        width: auto;
    }
}

.navigation-menu {
    margin: 0;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.navigation-hamburger {
    width: 30px;
    height: 2px;
    margin-right: 10px;
    background-color: $White;
    position: relative;
    vertical-align: middle;
    top: -1px;
    display: inline-block;
}

.navigation-hamburger:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0px;
    width: 30px;
    height: 2px;
    background-color: $White;
    transition: transform 0.2s ease;
}

.navigation-hamburger.close {}

.navigation-menu:hover .navigation-hamburger:before {
    transform: translateY(-4px);
}

.navigation-hamburger:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 30px;
    height: 2px;
    background-color: $White;
    transition: transform 0.2s ease;
}

.navigation-menu:hover .navigation-hamburger:after {
    transform: translateY(4px);
}

.navigation-breadcrumbs {
    color: $WarmGray4;
    padding-left: 32px;
}

.navigation-breadcrumbs:before {
    content: "|";
    position: relative;
    left: -15px;
}

.navigation-contact {
    border: solid 1px $White;
    padding: 3px 5px;
    font-size: 10px;
}

@media (min-width: 768px) {
    .navigation-contact {
        border: solid 2px $White;
        padding: 4px 10px;
        font-size: 13px;
    }
}

.navigation-contact:hover {
    background-color: $White;
    color: $JPMBrown;
}

.navigation-hide,
li.navigation-hide {
    display: none;
}

@media (min-width: 768px) {
    .navigation-hide,
    li.navigation-hide {
        display: inline-block;
    }
}

#navigation-toggle input[type=checkbox] {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}
/* Default State */

.overlay {
    z-index: 1500;
    position: absolute;
    display: table;
    background: none;
    background-color: $JPMBrown;
    width: 100%;
    height: 100%;
    top: 44px;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

@media (min-width: 768px) {
    .overlay {
        top: 56px;
    }
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

.overlay nav {
    perspective: 1200px;
}

.overlay nav ul {
    opacity: 0.4;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.5s, opacity 0.5s;
}

.overlay.open nav ul {
    opacity: 1;
    transform: rotateX(0deg);
}

.overlay.open .center {
    height: 100%;
}

.overlay.close nav ul {
    transform: translateY(25%) rotateX(-35deg);
}

.overlay.close-button {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

.stick {
    position: fixed;
    width: 100%;
    top: 0;
}

.navigation-toggle {
    margin: 0;
}

.overlay > ul {
    color: $White;
    z-index: 3000;
    position: relative;
}

.overlay li {
    list-style-type: none;
}

.nav-h1 {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .nav-h1 {
        margin-top: 60px;
    }
}

li:first-child .nav-h1 {
    margin-top: 0px;
}

.nav-h1:before {
    content: "";
    width: 45px;
    height: 1px;
    background-color: $WarmGray4;
    position: relative;
    top: -10px;
    display: block;
}

.nav-h2 {
    margin-top: 40px;
}

li:first-child .nav-h2 {
    margin-top: 0px;
}

.nav-h2:before {
    content: "";
    width: 22px;
    height: 1px;
    background-color: $WarmGray4;
    position: relative;
    top: -10px;
    display: block;
}

nav ul {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .overlay.open .row {
        display: flex;
        align-items: flex-end;
    }
}

nav input[type=search] {
    border: 1px solid $WarmGray4;
    background-color: transparent;
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}

input[type=search] :before {
    content: "";
    background-image: url(images/icon.search.svg);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

@media (min-width: 768px) {
    nav input[type=search] {
        margin-top: 60px;
    }
}

nav input[type=search]:focus {
    border: 1px solid $White;
    color: $White;
    box-shadow: none;
    outline: none;
}
