// IMAGE CONTAINER WITH IMAGE CENTERED
.promo-image {
    position: relative;
    margin: 0;
    overflow: hidden;
    max-height: 435px; // set max height of image container
    margin: calc(1.36428%) 0; // margin on top and bottom
}

.promo-image:before {
    content: "";
    display: block;
    padding-top: 56%;
    /* set ratio of image to 16/9 */
    
    background-clip: content-box;
}

.promo-image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; // this center align the picture in the 16/9 container
}

@media (min-width: 768px) {
    // 1 Column image - no gutter
    .no-gutter.promo-1-column .promo-1.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
    }
    // 2 Column image - no gutter
    .no-gutter.promo-2-column .promo-1.promo-image {
        margin-left: 1.36428%;
        margin-right: 1px;
        width: calc(50% - 1.36428% - 1px);
    }
    .no-gutter.promo-2-column .promo-2.promo-image {
        margin-right: 1.36428%;
        margin-left: 0px;
        width: calc(50% - 1.36428%);
    }
    // 3 Column image - no gutter
    .no-gutter.promo-3-column .promo-1.promo-image {
        margin-left: 1.36428%;
        margin-right: 1px;
        width: calc(33.33333333% - 1.36428% - 1px);
    }
    .no-gutter.promo-3-column .promo-2.promo-image {
        margin-right: 1px;
        margin-left: 0px;
        width: calc(33.33333333% - 1px);
    }
    .no-gutter.promo-3-column .promo-3.promo-image {
        margin-right: 1.36428%;
        margin-left: 0px;
        width: calc(33.33333333% - 1.36428%);
    }
    // 1 Column image - with gutter
    .promo-1-column .promo-1.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
    }
    // 2 Column image - with gutter
    .promo-2-column .promo-1.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
        width: calc(50% - 1.36428% - 1.36428%);
    }
    .promo-2-column .promo-2.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
        width: calc(50% - 1.36428% - 1.36428%);
    }
    // 3 Column image - with gutter
    .promo-3-column .promo-1.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
        width: calc(33.33333333% - 1.36428% - 1.36428%);
    }
    .promo-3-column .promo-2.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
        width: calc(33.33333333% - 1.36428% - 1.36428%);
    }
    .promo-3-column .promo-3.promo-image {
        margin-left: 1.36428%;
        margin-right: 1.36428%;
        width: calc(33.33333333% - 1.36428% - 1.36428%);
    }
}

.promo-eyebrow:before {
    content: "";
    width: 45px;
    height: 1px;
    background-color: $JPMBrown;
    position: relative;
    top: -10px;
    display: block;
}

.inverted .promo-eyebrow:before {
    content: "";
    width: 45px;
    height: 1px;
    background-color: $White;
    position: relative;
    top: -10px;
    display: block;
}

@media (min-width: 768px) {
    .promo-1-column.promo-1 .promo-eyebrow:before {
        display: none;
    }
}

@media (min-width: 768px) {
    .promo-1-column .row {
        position: absolute;
        z-index: 500;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 1.36428% - 1.36428%);
    }
}

// SPACING
.promo-eyebrow,
.promo-image,
.h3,
.h4,
.body,
.promo-author {
    padding: 5px 0;
}

.primary {
    margin-top: calc(1.36428%);
}

.promo-1-full-width {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
}

.promo-1-full-width:after {
    content: "";
    padding-bottom: 36%;
}

.promo-1-full-width .container-fluid {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.promo-1-full-width .promo-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    z-index: -50;
}

.row.promo-1-column,
.row.promo-2-column,
.row.promo-3-column {
    margin: calc(1.36428% * 3) 0;
}

.promo-full-width-container {
    width: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .promo-full-width-container {
        width: 100%;
        height: 60vh;
        position: relative;
        min-height: 400px;
    }
}

.promo-full-width-copy {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -60%);
    z-index: 10;
    width: 90%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0);
}

.container-full-width {
    width: 100%;
    position: relative;
}

.container-full-width .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.promo-image-full-width {
    background-image: url(../images/header_person.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 75vw; // 4/3 proportion
    min-height: 240px;
    max-height: 800px;
    position: relative;
    z-index: -10;
}

@media (min-width: 768px) {
    .promo-image-full-width {
        height: 56.25vw; // 16/9 proportion
    }
}

.row.full-width {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    width: 90%;
    max-width: 1600px;
}

.promo-copy {
    z-index: 50;
}

@media (min-width: 768px) {
    .row.promo-2-column.no-gutter {
        .promo-1 {
            padding-right: 1px;
            .promo-eyebrow, .h4, .promo-author, .body, .cta {
                padding-right: calc(1.36428% * 2);
            }
        }
        .promo-2 {
            padding-left: 0px;
            .promo-eyebrow, .h4, .promo-author, .body, .cta {
                padding-left: calc(1.36428% * 2);
            }
        }
    }
    .row.promo-3-column.no-gutter {
        .promo-1 {
            width: calc(33.33333333% + 0.34107% + 0.0852675%);
            padding-right: 1px;
            .promo-eyebrow, .h4, .promo-author, .body, .cta {
                padding-right: calc(1.36428% * 2);
            }
        }
        .promo-2 {
            width: calc(33.33333333% - 0.68214% - 0.170535%);
            padding-left: 0px;
            padding-right: 1px;
            .promo-eyebrow, .h4, .promo-author, .body, .cta {
                padding-left: calc(1.36428% * 2);
                padding-right: calc(1.36428% * 2);
            }
        }
        .promo-3 {
            width: calc(33.33333333% + 0.34107% + 0.0852675%);
            padding-left: 0px;
            .promo-eyebrow, .h4, .promo-author, .body, .cta {
                padding-left: calc(1.36428% * 2);
            }
        }
    }
}

@media (max-width: 767px) {
    .promo-1,
    .row.promo-1,
    .promo-2,
    .promo-3 {
        margin-bottom: 40px;
    }
}

.promo-1-column.promo-1 .col-xs-12 {
    padding-top: 0px;
    padding-bottom: 0px;
}
