.image-16-9 {
    background-color: red;
}

.promo {
    margin-bottom: 40px;
    // border: solid 1px red;
}

@media (min-width: 47.999em) {
    .col-sm-6.no-padding {
        padding: 0 1px 0 0;
        width: 50%;
    }
    .col-sm-4.no-padding {
        padding: 0 1px 0 0;
        width: 33.3%;
    }
}

.no-margin {
    margin-bottom: 0;
}

@media (max-width: 47.999em) {
    .col-sm-4.no-padding {
        padding: 0;
        width: 100%;
    }
}

.padding {
    padding: 0;
    margin-right: 2.72856%;
}

.no-padding {
    padding: 0;
}

.padding:last-child {
    margin-right: 0%;
}

.promo-image {
    position: relative;
    margin: 20px 0 20px 0;
    overflow: hidden;
    max-height: 435px; // set max height of image container
}

.promo-image:before {
    content: "";
    display: block;
    padding-top: 56%;
    /* set ratio of image to 16/9 */
}

.promo-image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; // this center align the picture in the 16/9 container
}

@media (min-width: 47.999em) {
    .no-padding > .promo > p {
        padding-left: 20px;
        padding-right: 20px;
    }
    .no-padding:last-child > .promo > p {
        padding-left: 20px;
        padding-right: 0px;
    }
    .no-padding:first-child > .promo > p {
        padding-left: 0px;
        padding-right: 20px;
    }
}

.flex-top,
.flex-middle,
.flex-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container-3 > .flex-top > .copy-container {
    align-self: flex-end;
}

.flex-container-3 > .flex-middle > .promo-image {
    margin-right: 1px;
}

.flex-container-3 > .flex-middle > .promo-image:last-child {
    margin-right: 0px;
}

.flex-container-3 > .flex-top > .copy-container,
.flex-container-3 > .flex-middle > .promo-image,
.flex-container-3 > .flex-bottom > .copy-container {
    width: 33%;
}

.flex-container-3 > .flex-top > .copy-container,
.flex-container-3 > .flex-bottom > .copy-container {
    padding: 0 10px 0 10px;
}

.flex-container-3 > .flex-top > .copy-container:first-child,
.flex-container-3 > .flex-bottom > .copy-container:first-child {
    padding: 0 10px 0 0;
}

.flex-container-3 > .flex-top > .copy-container:last-child,
.flex-container-3 > .flex-bottom > .copy-container:last-child {
    padding: 0 0 0 10px;
}
