@media (max-width: 991px) {
    .anchor-h1 {
        font-size: 16px;
        line-height: 24px;
    }
    .anchor-copy {
        font-family: "Amplitude-Regular";
        font-size: 13px;
        line-height: 20px;
    }
    .highligthed-promo-h1 {
        font-size: 26px;
        line-height: 39px;
    }
    .highlighted-promo-copy {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    .eyebrow {
        font-family: "Amplitude-Regular";
        font-size: 16px;
        line-height: 24px;
    }
    .intro-h1 {
        font-size: 26px;
        line-height: 39px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 24px;
    }
}

.container-fluid.griddy {
    border: solid 1px red;
}
