@media (max-width: 991px) {
    .anchor-h1 {
        font-size: 16px;
        line-height: 24px;
    }
    .anchor-copy {
        font-family: "Amplitude-Regular";
        font-size: 13px;
        line-height: 20px;
    }
    .highligthed-promo-h1 {
        font-size: 26px;
        line-height: 39px;
    }
    .highlighted-promo-copy {
        font-size: 16px;
        line-height: 24px;
    }
    .amplitude-light-68,
    .amplitude-regular-68,
    .amplitude-medium-68,
    .amplitude-light-89 {
        display: none;
    }
}

@media (max-width: 767px) {
    .eyebrow {
        font-family: "Amplitude-Regular";
        font-size: 16px;
        line-height: 24px;
    }
    .intro-h1 {
        font-size: 26px;
        line-height: 39px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 24px;
    }
    .amplitude-light-42,
    .amplitude-regular-42,
    .amplitude-medium-42,
    .amplitude-light-55,
    .amplitude-regular-55,
    .amplitude-medium-55,
    .amplitude-light-68,
    .amplitude-regular-68,
    .amplitude-medium-68,
    .amplitude-light-89,
    .amplitude-regular-89,
    .amplitude-medium-89 {
        display: none;
    }
}

.container-fluid.griddy {
    border: solid 1px red;
}
