.component-wrapper {
    width: 100%;
    max-height: 435px;
    overflow: hidden;
}

.component {
    width: 100%;
    padding-bottom: 56%;
    background-color: $WarmGray1;
    opacity: 0.4;
}

.border-top .no-border {
    border-top: 0;
}

.spacing {
    width: 50px;
    height: 50px;
    background-color: #A63A3A;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .spacing {
        width: 60px;
        height: 60px;
        background-color: $JPMBrown;
    }
}

@media (min-width: 1200px) {
    .spacing {
        width: 80px;
        height: 80px;
        background-color: #A63A3A;
    }
}

.spacing p {
    font-family: $Light;
    font-size: 16px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    margin: auto 0;
}

.spacing p:before {
    content: "";
    display: block;
    background-image: url('../images/ui.arrow-up.white.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 10px;
    position: relative;
    margin: 0 auto;
    top: 2px;
}

.spacing p:after {
    content: "";
    display: block;
    background-image: url('../images/ui.arrow-down.white.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12px;
    height: 10px;
    position: relative;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .spacing p:before {}
    .spacing p:after {}
}

@media (min-width: 1200px) {
    .spacing p:before {
        top: -2px;
        width: 16px;
    }
    .spacing p:after {
        top: 2px;
        width: 16px;
    }
    .spacing p {
        font-size: 21px;
    }
}

// OFFICE LOCATION
.office-location {
    margin-bottom: 20px;
}

.office-location .office-name {
    margin-bottom: 10px;
}

.office-location .cta {
    margin-top: 10px;
}

.office-location .office-phone {
    margin-top: 5px;
}

// REGULATORY LINKS
@media (max-width: 767px) {
    .link li,
    .h5 {
        margin-bottom: 10px;
    }
}

// GLOBAL FOOTER
.h6 {
    margin-bottom: 10px;
}

.h6 warmgray8 {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .global-footer-copyright:nth-child(2) {
        padding-top: 0;
    }
}

// MODULOR SCALE FOR SPACING
$Modulor025: 0.250;
$Modulor05: 0.500;
$Modulor1: 1.000;
$Modulor2: 1.250;
$Modulor3: 1.618;
$Modulor4: 2.023;
$Modulor5: 2.618;
$Modulor6: 3.273;
$Spacing: 20px;
$XS: 1.000;
$SM: 1.250;
$MD: 1.250;
$LG: 1.618;
.top-0 {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.top-025 {
    margin-top: $Modulor025 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-025 {
        margin-top: $Modulor025 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-025 {
        margin-top: $Modulor025 * $Spacing * $LG !important;
    }
}

.top-05 {
    margin-top: $Modulor05 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-05 {
        margin-top: $Modulor05 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-05 {
        margin-top: $Modulor05 * $Spacing * $LG !important;
    }
}

.top-1 {
    margin-top: $Modulor1 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-1 {
        margin-top: $Modulor1 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-1 {
        margin-top: $Modulor1 * $Spacing * $LG !important;
    }
}

.top-2 {
    margin-top: $Modulor2 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-2 {
        margin-top: $Modulor2 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-2 {
        margin-top: $Modulor2 * $Spacing * $LG !important;
    }
}

.top-3 {
    margin-top: $Modulor3 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-3 {
        margin-top: $Modulor3 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-3 {
        margin-top: $Modulor3 * $Spacing * $LG !important;
    }
}

.top-4 {
    margin-top: $Modulor4 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-4 {
        margin-top: $Modulor4 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-4 {
        margin-top: $Modulor4 * $Spacing * $LG !important;
    }
}

.top-5 {
    margin-top: $Modulor5 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-5 {
        margin-top: $Modulor5 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-5 {
        margin-top: $Modulor5 * $Spacing * $LG !important;
    }
}

.top-6 {
    margin-top: $Modulor6 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .top-6 {
        margin-top: $Modulor6 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .top-6 {
        margin-top: $Modulor6 * $Spacing * $LG !important;
    }
}

.bottom-025 {
    margin-bottom: $Modulor025 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-025 {
        margin-bottom: $Modulor025 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-025 {
        margin-bottom: $Modulor025 * $Spacing * $LG !important;
    }
}

.bottom-05 {
    margin-bottom: $Modulor05 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-05 {
        margin-bottom: $Modulor05 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-05 {
        margin-bottom: $Modulor05 * $Spacing * $LG !important;
    }
}

.bottom-1 {
    margin-bottom: $Modulor1 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-1 {
        margin-bottom: $Modulor1 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-1 {
        margin-bottom: $Modulor1 * $Spacing * $LG !important;
    }
}

.bottom-2 {
    margin-bottom: $Modulor2 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-2 {
        margin-bottom: $Modulor2 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-2 {
        margin-bottom: $Modulor2 * $Spacing * $LG !important;
    }
}

.bottom-3 {
    margin-bottom: $Modulor3 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-3 {
        margin-bottom: $Modulor3 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-3 {
        margin-bottom: $Modulor3 * $Spacing * $LG !important;
    }
}

.bottom-4 {
    margin-bottom: $Modulor4 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-4 {
        margin-bottom: $Modulor4 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-4 {
        margin-bottom: $Modulor4 * $Spacing * $LG !important;
    }
}

.bottom-5 {
    margin-bottom: $Modulor5 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-5 {
        margin-bottom: $Modulor5 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-5 {
        margin-bottom: $Modulor5 * $Spacing * $LG !important;
    }
}

.bottom-6 {
    margin-bottom: $Modulor6 * $Spacing * $XS !important;
}

@media (min-width: 768px) {
    .bottom-6 {
        margin-bottom: $Modulor6 * $Spacing * $SM !important;
    }
}

@media (min-width: 1200px) {
    .bottom-6 {
        margin-bottom: $Modulor6 * $Spacing * $LG !important;
    }
}

// ARTICLE
.h2 + .author {
    margin-top: 20px;
}

span.date {
    margin-left: 10px;
}

p.author + p.date {
    margin-top: 10px;
}

.article {
    .dash + .eyebrow, .body + .body, .eyebrow + .side-note, .side-note + .side-note {
        margin-top: 10px;
    }
    .body,
    .side-note + .primary {
        margin-top: 20px;
    }
    .body + .primary {
        margin-top: 40px;
    }
    .h4 + .body {
        margin-top: 20px;
    }
    .h3 + .body {
        margin-top: 20px;
    }
    .body + .h3 {
        margin-top: 60px;
    }
}

.body + .secondary,
.body + .quote,
.body + .divider,
.divider + .quote,
.quote-author + .divider,
.divider + .body {
    margin-top: 40px;
}

.quote + .quote-author {
    margin-top: 20px;
}

.h1 + .dash,
.dash + .h4 {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .h5 + .dash,
    .dash + .tab-body {
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .h5 + .dash,
    .dash + .tab-body {
        margin-top: 15px;
    }
}

.content-page {
    .h4 + .body {
        margin-top: 20px;
    }
    .bullet .h4 + .body {
        margin-top: 0;
    }
    .bullet li + li {
        margin-top: 20px;
    }
    .h2 + .h4 {
        margin-top: 20px;
    }
}

.promo-1-column,
.promo-2-column,
.promo-3-column,
.promo-4-column {
    .dash + .eyebrow {
        margin-top: 15px;
    }
}

.content-tray {
    .h3 + .author, .body + .cta {
        margin-top: 10px;
    }
    .author + .body {
        margin-top: 20px;
    }
}

.hero {
    .eyebrow + .h2, .h2 + .eyebrow, .h2 + .dash, .eyebrow + .h4, .h4 + .primary, .eyebrow + .h3 {
        margin-top: 20px;
    }
    .h4 + .secondary,
    .h4 + .toggle,
    .author + .body {
        margin-top: 20px;
    }
    .primary + .primary,
    .primary + .secondary,
    .secondary + .secondary,
    .secondary + .primary {
        margin-right: 10px;
    }
    .dash + .eyebrow,
    .h3 + .author {
        margin-top: 10px;
    }
    @media (min-width: 768px) {
        .body + .primary, .body + .secondary, .h4 + .secondary, .h4 + .toggle {
            margin-top: 30px;
        }
    }
}

.regulatory-link {
    .dash + .h6 {
        margin-top: 10px;
    }
    .h5 {
        margin-bottom: 10px;
    }
}

.style-guide {
    .dash + .eyebrow {
        margin-top: 10px;
    }
}

.global-footer {
    .link {
        margin-top: 10px;
    }
    .dash + .h6,
    .h6.warmgray8 {
        margin-top: 10px;
    }
}

.form {
    input[type="checkbox"] {
        transform: scale(1.5);
        margin-left: 8px;
        margin-right: 20px;
    }
    .primary + .form-help,
    input + .form-help,
    .h6 + .legal {
        margin-top: 5px;
    }
    .your-information .form-group {
        margin-top: 20px;
    }
    .form-group input[type="text"] {
        margin-top: 5px;
    }
    input + .strong {
        margin-top: 20px;
    }
    .checkboxes {
        margin-top: 30px;
    }
    .your-needs > div:first-child {
        margin-top: 20px;
    }
    .your-needs > div:nth-child(2),
    .your-needs > div:nth-child(3) {
        margin-top: 25px;
    }
    .your-needs > div:nth-child(4),
    .your-needs > div:nth-child(5),
    .your-needs > div:nth-child(6),
    .your-needs > div:nth-child(7),
    .your-needs > div:nth-child(8),
    .your-needs > div:nth-child(9),
    .your-needs > div:nth-child(10) {
        margin-top: 24px;
    }
    .your-needs > div:nth-child(11) {
        margin-top: 20px;
    }
    textarea.message {
        height: 377px;
    }
    @media (max-width: 767px) {
        form + div {
            margin-top: 60px;
        }
        .your-needs > div:nth-child(2) {
            margin-top: 29px;
        }
        .your-needs > div:nth-child(10) {
            margin-top: 29px;
        }
        textarea.message {
            height: 200px;
        }
    }
}

.style-guide {
    @media (max-width: 991px) {
        .row .col-xs-12.col-md-6 {
            margin-top: 20px;
        }
    }
    .rule {
        margin-bottom: 40px;
    }
    .row {
        margin-bottom: 80px;
    }
}

.share.facebook,
.share.linkedin,
.share.twitter,
.share.email {
    padding-top: 20px;
}

.share:first-child {
    padding-top: 0;
}
