body {
    font-family: "Amplitude-Light", Helvetica, sans-serif;
    color: $JPMBrown;
    margin-bottom: 120px;
    font-size: 16px;
    line-height: 1.5;
}

.container-fluid.breakpoint-bar {
    padding: 10px 0 10px 0;
}

.page-title {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

label {
    margin: 0;
}

// TYPOGRAPHY
p.spec-size,
p.spec-height,
p.spec-tracking,
p.spec-font p.spec-detail {
    color: $WarmGray4;
}

.style-guide-h1 {
    font-size: 55px;
    line-height: 1;
    margin: 1.36428% 0;
}

.style-guide-h2 {
    font-size: 26px;
    line-height: 1.333;
    margin-bottom: 20px;
}

.style-guide-h3 {
    color: $Purple;
    font-family: $Medium;
    margin-bottom: 20px;
}

.style-guide-link {
    color: $Purple;
}

.style-guide-body {
    font-size: 16px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .style-guide-body {
        font-size: 21px;
    }
}

div.section-title {
    margin-bottom: 10vh;
}

.bootstrap-size {
    font-family: $Medium;
    font-size: 13px;
    line-height: 20px;
}

.breakpoint-name {
    font-family: $Medium;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
}

.breakpoint-detail {
    font-family: $Regular;
    font-size: 13px;
    margin-right: 10px
}

.symbol {
    font-family: helvetica, sans-serif;
    margin-right: 5px;
}

.number {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.col:first-child {
    margin-left: 0%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

@font-face {
    font-family: $Medium;
    src: local("Amplitude-Medium");
    src: url("http://www.liquorvitae.it/temp/Amplitude-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: $Regular;
    src: local("Amplitude-Regular");
    src: url("http://www.liquorvitae.it/temp/Amplitude-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: $Light;
    src: local("Amplitude-Light");
    src: url("http://www.liquorvitae.it/temp/Amplitude-Light.ttf");
    font-weight: light;
}

nav > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

nav > ul {
    -webkit-padding-start: 0px;
}

nav {
    margin: 40px 0;
}

nav > ul li ul {
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

nav > ul li ul li {
    background: $WarmGray1;
    display: block;
    width: 200%;
    color: $JPMBrown;
}

nav > ul li ul li:hover {
    background: $WarmGray8;
    color: $White;
}

nav > ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

li.primary-inverted {
    padding: 10px;
}

.breakpoint {
    color: red;
}

.breakpoint-bar .device {
    line-height: 1;
}

// COLORS
.color {
    background-clip: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.color:before {
    content: '';
    padding: 50% 0;
    /* vertical value as  100% equals width */
    
    display: inline-block;
    vertical-align: middle;
    /* or whatever */
}

.color.White {
    background-color: $White;
    border: 1px solid $WarmGray0;
}

.color.JPMBrown {
    background-color: $JPMBrown;
    color: $White;
}

.Purple {
    color: $White;
    background-color: $Purple;
}

.DarkBlue {
    color: $White;
    background-color: $DarkBlue;
}

.Blue {
    color: $White;
    background-color: $Blue;
}

.Teal {
    color: $White;
    background-color: $Teal;
}

.Green {
    color: $White;
    background-color: $Green;
}

.Yellow {
    background-color: $Yellow;
}

.Orange {
    color: $White;
    background-color: $Orange;
}

.WarmGray1 {
    background-color: $WarmGray1;
}

.WarmGray4 {
    background-color: $WarmGray4;
}

.WarmGray8 {
    background-color: $WarmGray8;
}

.WarmGray0 {
    background-color: $WarmGray0;
}

// RULE
.rule {
    border-top: 1px solid $JPMBrown;
    margin: calc(1.36428% * 2) 0;
}

@media (min-width: 768px) {
    .rule {
        margin: 0;
    }
}
