body {
    font-family: "Amplitude-Light", Helvetica, sans-serif;
    color: $JPMBrown;
    margin-bottom: 120px;
}
/*equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}*/

.breakpoint-bar {
    width: 100%;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

// TYPOGRAPHY
.spec-style {
    font-family: "Amplitude-Medium";
}

p.spec-size,
p.spec-height,
p.spec-tracking,
p.spec-font p.spec-detail {
    color: $brown-medium;
}

h1 {
    font-size: 55px;
    line-height: 82px;
}

h2 {
    font-size: 26px;
    line-height: 39px;
}

div.section-title {
    margin-bottom: 10vh;
}

.bootstrap-size {
    font-family: "Amplitude-Medium";
    font-size: 13px;
    line-height: 20px;
}

.device {
    font-family: "Amplitude-Medium";
    font-size: 21px;
    line-height: 31px;
    margin-right: 10px;
}

.pixel-size {
    font-family: "Helvetica";
    font-weight: bold;
}

.number {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.show-grid [class^="col-"] {
    /*margin-left: 2%;*/
    
    border-top: 1px solid #efefef;
    padding-top: 10px;
}
/*.col {
    margin-left: 2vw;
}*/

.col:first-child {
    margin-left: 0%;
}

.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1600px;
    width: 90%;
    padding: 0px;
}

@media (max-width: 991px) {
    .container-fluid {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

@font-face {
    font-family: "Amplitude-Medium";
    src: local("Amplitude-Medium");
    src: url("http://www.liquorvitae.it/temp/Amplitude-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Amplitude-Regular";
    src: local("Amplitude-Regular");
    src: url("http://www.liquorvitae.it/temp/Amplitude-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: "Amplitude-Light";
    src: local("Amplitude-Light");
    src: url("http://www.liquorvitae.it/temp/Amplitude-Light.ttf");
    font-weight: light;
}

nav > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

nav > ul {
    -webkit-padding-start: 0px;
}

nav {
    margin: 40px 0;
}

nav > ul li ul {
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

nav > ul li ul li {
    background: $WarmGray1;
    display: block;
    width: 200%;
    color: $JPMBrown;
}

nav > ul li ul li:hover {
    background: $WarmGray8;
    color: $White;
}

nav > ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

li.primary-inverted {
    padding: 10px;
}

.show-grid [class^="col-"] {
    padding: 20px 0 20px 0;
    border-top: 1px solid $JPMBrown;
}

.show-grid > .col-md-6 {
    border-top: none;
    @media (min-width: 992px) {
        border-top: 1px solid $JPMBrown;
    }
}

.col-xs-6 > p,
.col-xs-4 > p {
    margin-bottom: 5px;
    padding-right: 20px;
}

.breakpoint {
    color: red;
}

.row {
    margin: 0 0 5vh 0;
}
