.icon-share-twitter {
  fill: $brown-medium; 
}
.icon-share-twitter:hover {
  fill: $brown-dark; 
}

svg:hover #icon-email { fill: #361a0e; }
svg:hover #icon-linkedin { fill: #361a0e; }
svg:hover #icon-facebook { fill: #361a0e; }
svg:hover #icon-twitter { fill: #361a0e; }