body {
    letter-spacing: 0.02em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
p {
    margin: 0;
}

@font-face {
    font-family: $Light;
    src: url(../fonts/Amplitude-Light.ttf);
}

@font-face {
    font-family: $Regular;
    src: url(../fonts/Amplitude-Regular.ttf);
}

@font-face {
    font-family: $Medium;
    src: url(../fonts/Amplitude-Medium.ttf);
}

.light {
    font-family: $Light;
}

.regular {
    font-family: $Regular;
}

.medium {
    font-family: $Medium;
}

.intro-eyebrow {
    font-family: $Light;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 768px) {
    .intro-eyebrow {
        font-size: 21px;
        line-height: 31px;
    }
}

@media (min-width: 1200px) {
    .intro-eyebrow {
        font-size: 26px;
        line-height: 39px;
    }
}

.intro-h1 {
    font-family: $Regular;
    font-weight: light;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-align: center;
}

@media (min-width: 768px) {
    .intro-h1 {
        font-family: $Light;
        font-size: 55px;
        line-height: 66px;
    }
}

@media (min-width: 1200px) {
    .intro-h1 {
        font-size: 66px;
        line-height: 79px;
    }
}

.intro-body {
    font-family: $Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 30em;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .intro-body {
        font-family: $Light;
        font-size: 21px;
        line-height: 31px;
    }
}

@media (min-width: 1200px) {
    .intro-body {
        font-size: 26px;
        line-height: 39px;
    }
}

.intro-cta {
    font-family: $Medium;
    font-weight: medium;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    transition: transform 0.2s ease;
}

.intro-cta:hover {
    cursor: pointer;
    cursor: hand;
    transform: translateY(10px);
}

.intro-cta::after {
    margin-top: 5px;
    content: "";
    display: block;
    background-image: url('../images/ui.arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    width: 16px;
    height: 10px;
    position: relative;
    left: calc(50% - 8px);
}

.inverted .intro-cta::after {
    margin-top: 5px;
    content: "";
    display: block;
    background-image: url('../images/ui.arrow-down.white.svg');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    width: 16px;
    height: 10px;
    position: relative;
    left: calc(50% - 8px);
}

@media (min-width: 1200px) {
    .intro-cta {
        font-size: 16px;
        line-height: 24px;
    }
    .intro-cta::after {
        background-size: 20px 12px;
        width: 20px;
        height: 12px;
        left: calc(50% - 10px);
    }
}

.anchor-h1 {
    font-family: $Medium;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 992px) {
    .anchor-h1 {
        font-size: 21px;
        line-height: 31px;
    }
}

.anchor-body {
    font-family: $Regular;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
}

@media (min-width: 992px) {
    .anchor-body {
        font-size: 16px;
        line-height: 24px;
    }
}

.promo-eyebrow {
    font-family: $Medium;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: left;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .promo-eyebrow {
        font-size: 16px;
        line-height: 24px;
    }
}

.promo-h1 {
    font-family: $Regular;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: left;
}

@media (min-width: 768px) {
    .promo-h1 {
        font-size: 26px;
        line-height: 32px;
    }
}

@media (min-width: 1200px) {
    .promo-h1 {
        font-size: 34px;
        line-height: 42px;
    }
}

.promo-author {
    font-family: $Medium;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}

.promo-date {
    font-family: $Regular;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    margin-left: 10px;
}

.promo-body-large {
    font-family: $Light;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

@media (min-width: 1200px) {
    .promo-body-large {
        font-size: 21px;
        line-height: 31px;
    }
}

.promo-h2 {
    font-family: $Regular;
    color: $JPMBrown;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: left;
}

@media (min-width: 1200px) {
    .promo-h2 {
        font-size: 26px;
        line-height: 32px;
    }
}

.promo-h2:hover {
    cursor: pointer;
    cursor: hand;
}

.promo-body {
    font-family: $Light;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

@media (min-width: 1200px) {
    .promo-body {
        font-size: 21px;
        line-height: 31px;
    }
}

.legal-body {
    font-family: $Light;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: center;
}

@media (min-width: 1200px) {
    .legal-body {
        font-size: 13px;
        line-height: 20px;
    }
}

button {
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 0;
    border: 0;
    background-color: transparent;
}

button:focus {
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $JPMBrown;
}

.primary {
    font-family: $Medium;
    color: $White;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: $JPMBrown;
    border: 0;
    display: inline-block;
}

.primary:hover {
    background-color: #1f0d08;
    transition: all $speed;
    cursor: pointer;
    cursor: hand;
}

.primary.inverted {
    color: $JPMBrown;
    background-color: $White;
    border: 1px solid $WarmGray0;
}

.primary.inverted:hover {
    background-color: #efefef;
    transition: all $speed;
}

.cta,
a.cta {
    font-family: $Medium;
    font-weight: medium;
    color: $JPMBrown;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.cta::after {
    margin-left: 5px;
    content: "►";
    display: inline-block;
    font-size: 0.5em;
    vertical-align: middle;
}

.cta:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

.footer-h1 {
    font-family: $Medium;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $JPMBrown;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .footer-h1 {
        font-size: 16px;
        line-height: 24px;
    }
}

.footer-h2 {
    font-family: $Medium;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $WarmGray4;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .footer-h2 {
        font-size: 16px;
        line-height: 24px;
    }
}

p.footer-links {
    font-family: $Light;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 5px;
}

@media (min-width: 1200px) {
    p.footer-links {
        font-size: 16px;
        line-height: 24px;
    }
}

p.footer-links:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

hr {
    margin: 0;
}

hr.dash-inverted {
    border: solid $White;
    border-width: 1px 0 0;
    width: 45px;
    height: 1px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

hr.dash {
    border: solid $JPMBrown;
    border-width: 1px 0 0;
    width: 45px;
    height: 1px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

hr.long {
    border: solid $WarmGray0;
    border-width: 1px 0 0;
    clear: both;
    width: 100%;
    height: 1px;
}

.h1 {
    font-size: 55px;
    line-height: calc(55px * 1.25);
    font-family: $Light;
    text-align: center;
    padding-bottom: 20px;
}

.h1-body {
    font-size: 21px;
    line-height: calc(21px * 1.5);
    font-family: $Light;
    text-align: center;
}

.nav-h1 {
    font-family: $Medium;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 21px;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    .nav-h1 {
        line-height: 1.25;
        font-size: 42px;
    }
}

nav .open li {
    color: $WarmGray4;
}

nav .open li:hover {
    color: $White;
    cursor: pointer;
    cursor: hand;
}

.nav-h2 {
    font-family: $Regular;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.nav-body {
    font-family: $Light;
    line-height: 1.5;
    font-size: 13px;
}

@media (min-width: 768px) {
    .nav-body {
        font-size: 16px;
    }
}

nav input[type=search] {
    font-family: $Light;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    nav input[type=search] {
        font-size: 21px;
        padding: 10px 20px;
    }
}
