// Landor Colors
$JPMBrown: #310008;

$InfographicPurple: #A73A64;
$InfographicDarkBlue: #00A3E9;
$InfographicBlue: #00A3E0;
$InfographicTeal: #2CD5C4;
$InfographicGreen: #2cb34a;
$InfographicYellow: #FEDD00;
$InfographicOrange: #FF8200;

$WarmGray1: #D7D2CB;
$WarmGray4: #B6ADA5;
$WarmGray8: #8C8279;

$White: #FFFFFF;

// RF Colors

$brown-dark:#361a0e;
$brown-medium:#8c8279;
$brown-very-light:#d7d2cb;

// Fonts

$light:"Amplitude-Light";
$regular:"Amplitude-Regular";
$medium:"Amplitude-Medium";

