// Landor Colors

$White: #FFFFFF;

$JPMBrown: #310008;
$JPMBrown-Hover: #1f0d08;

$Purple: #A73A64;
$DarkBlue: #00587c;
$Blue: #00a3e0;
$Teal: #2cd5c4;
$Green: #43b02a;
$Yellow: #fedd00;
$Orange: #ff8200;

$WarmGray1: #d7d2cb;
$WarmGray4: #b6ada5;
$WarmGray8: #8c8279;

// RF Color

$WarmGray0: #ebe8e5;
$Red: #a71010;


// Fonts

$Light:"Amplitude-Light";
$Regular:"Amplitude-Regular";
$Medium:"Amplitude-Medium";

// Margins

$x05: 10px;
$x1: 20px;
$x15: 30px;
$x2: 40px;
$x3: 60px;
$x4: 80px;

// Animation

$speed: 0.05s;