// Landor Colors

$White: #FFFFFF;

$JPMBrown: #310008;

$Purple: #A73A64;
$DarkBlue: #00587c;
$Blue: #00a3e0;
$Teal: #2cd5c4;
$Green: #43b02a;
$Yellow: #fedd00;
$Orange: #ff8200;

$WarmGray1: #d7d2cb;
$WarmGray4: #b6ada5;
$WarmGray8: #8c8279;

$WarmGray1-transparent: #ebe8e5;



// RF Colors

$brown-dark:#361a0e;
$brown-medium:#8c8279;
$brown-very-light:#d7d2cb;

// Fonts

$light:"Amplitude-Light";
$regular:"Amplitude-Regular";
$medium:"Amplitude-Medium";

// Margins

$margin: 1.5vw;  // not used

// Animation

$speed: 0.05s;